//base
@import "base/reset.scss";
@import "base/typography.scss";
//components
@import "components/buttons.scss";
@import "components/carousel";
@import "components/cover";
@import "components/dropdown";
@import "components/modal.scss";
//layout
@import "layout/footer";
@import "layout/forms";
@import "layout/grid";
@import "layout/header";
@import "layout/navigation";
@import "layout/sidebar";  
@import "layout/offer";
//themes
@import "themes/admin";
@import "themes/theme";
//pages
@import "pages/index";
@import "pages/artist";
@import "pages/brand";
@import "pages/card-artist";
@import "pages/card-product";
@import "pages/catalog";
@import "pages/catalog-news";
@import "pages/instruments";
@import "pages/investments";
@import "pages/news";
@import "pages/shourum";
@import "pages/spirio";
@import "pages/catalog-instruments";
//utils
@import "utils/functions";
@import "utils/helpers";
@import "utils/mixins";
@import "utils/variables";
//vendors
@import "vendors/bootstrap";
@import "vendors/jquery-ui";


body {
    font-family: 'Hel';
    overflow-x: hidden;  
    background: #ececec;
} 
ul, ol{
    list-style-type: none;
}
*{
    outline: none;
    letter-spacing: 1.8px;
}

@media (min-width: 1700px){
    .container{
        max-width: 1500px; 
    }
}






















