.artists-main{
    .button{
        @extend %button;
        max-width: 100%;
    }
    .gallery{
        display: flex;
        flex-wrap: wrap;
        .item{
            transition: .3s ease;
            text-decoration: none;
            overflow: hidden;
            position: relative;
            .text{
                z-index: 300;
                bottom: -140px;
                width: 100%;
                transition: all.4s;
                position: absolute;
                padding: 0px 35px;
                .name{
                    font-size: 24px;
                    text-transform: uppercase;
                    font-weight: 700;
                    text-align: center;
                    color: #fff;
                    margin-bottom: 20px;
                }
            }
            .img{
                height: 500px;
                min-height: 500px;
                max-height: 500px;
                img{
                    width: 100%;
                    // height: 100%; 
                }
            }
        }
        .item::before{
            position: absolute;
            top: 0px;
            left: 0px;
            content: '';
            transition: all.4s;
            opacity: 1;
            width: 100%;
            height: 100%;
            z-index: 200;
            background: rgba(39, 39, 39, 0.63);
        } 
        .item:hover::before{
            opacity: 0; 
        }
        .item:hover .text{
            bottom: 40px;
        }
        .item-active{
            width:100px;;
        }
        .hover-img{
            filter: brightness(0.2);
        }
    }
    .subtitle-gallery{
        color: #a1a1a1;
        font-weight: 700;
        font-size: 20px;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 10px; 
        margin-top: 30px;
    }
}

@media (min-width: 768px){
    .col-md-6 {
        max-width:calc(50% - 10px); 
    }
}

@media (min-width: 1200px){
    .col-xl-4 {
        max-width: calc(33.333333% - 10px);
    }
}



@media (max-width: 770px){
    .page-link{
        padding: 8px 15px !important;
    }
    .artists-main{
        .item{
            margin: 5px 5px !important;
        }
    }
    .artist-bread{
        .breadcrumb li:nth-child(1){
            margin-left: auto;
        }
        .breadcrumb li:nth-last-child(1){
            margin-right: auto;
        }
    }
}
@media (max-width: 576px){
    .artist-bread{
        margin-top: 80px;
    }
}

@media (max-width: 475px){
    .page-item img{
        width: 40px;
    }
}


@media (max-width: 360px){
    .artist-bread{
        .breadcrumb li:nth-child(1){
            margin-left: 0;
        }
        .breadcrumb li:nth-last-child(1){
            margin-right: 0;
        }
    }
}







