.main-brand{
    .slider-first{
        .slider-item{
            background-image: url(../images/csm_Boston_Piano_in_a_home_retouched_fma_b063c7b750.png);
            padding: 230px 0 230px;
            .title{
                font-size: 60px;
                color: #fff;
                text-transform: uppercase;
                max-width: 1000px;
            }
            .subtitle{
                font-size: 12px;
                color: #fff;
                text-transform: uppercase;
                max-width: 800px;
                // font-family: 'Minion';
            }
        }
    }
    .instruments-gallery{
        overflow: hidden;
    }
    .slick-dots{
    width: 100%;
    max-width: 340px;;
    margin-right: 100%;
    li{
        height: 4px;
        width: 60px;
    }
    }
    .slick-dotted.slick-slider{
    margin-bottom: 170px;
    }
    .page-title{
        max-width: 1000px;
        line-height: 1.2;
    }
    .width-text{
        max-width: 1100px;
        margin: auto;
    }
    .instrument{
        position: relative;
        .img{
            width: 100%;
            overflow: hidden;
            position: relative;
        }
        img{
            width: 100%;
            transition: transform var(--photoboxAnimationDuration, 2s) cubic-bezier(0.71, 0.05, 0.29, 0.9);
          will-change: transform;
            transform: scale(1) translate(0, 0);
        }
        .img:before{
        content: '';
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.616);
        opacity: 0;
        transition: opacity var(--photoboxAnimationDuration, 2s) cubic-bezier(0.71, 0.05, 0.29, 0.9);
        will-change: opacity;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
      }
      .text{
          position: absolute;
          bottom: 30px;
          left: 50%;
          transform: translate(-50%);
          color: #fff;
          z-index: 205;
          max-width: 1000px;
          width: 100%;
          text-align: center;
          .title{
              text-decoration: none;
              color: #fff;
              font-size: 36px;
              text-transform: uppercase;
              transition: all.4s;
          }
          .title:hover{
              color: $yellow;
          }
        //   p{
        //       font-family: 'Minion';
        //   }
      }
    }
    .article-title{
        font-size: 50px;
        text-align: center;
        margin: 80px auto 20px;
    }
    .col-md-4{
        .text{
            bottom: 20px;
            top: 60%;
            max-width: 400px;
        }
    }
    .instrument:hover .img:before{
       opacity: 1;
    }
       
    .instrument:hover img{
        transform: scale(1.2) translate(4%, 4%);
    }

}

@media (min-width:1440px){
    .main-brand{
        .instrument{
            .text{
                bottom: 0;
                top: 80%;
                .title{
                    font-size: 32px;
                }
            }
        }
        .col-md-4 .text {
            max-width: 600px;
        }
    }
}

@media (min-width:1700px){
    .main-brand{
        .instrument{
            .text{
                bottom: 30px;
            }
        }
    }
}

@media (max-width:1440px){
    .main-brand{
        .instrument{
            .text{
                bottom: 0;
                top: 80%;
                padding: 0px 20px;
            }
        }
        .col-md-4 .text {
            max-width: 600px;
        }
    }
}

@media (max-width:1025px){
    .main-brand{
        .instrument{
            .text{
                padding: 10px;
                top: 70%;
                .title{
                    font-size: 27px;
                }
                p{
                    font-size: 14px;
                }
            }
        }
    }
}

@media (max-width:769px){
    .main-brand{
        .slider-first{
            .slider-item{
                background-image: url(../images/csm_Boston_Piano_in_a_home_retouched_fma_b063c7b750.png);
                padding:160px 0 160px;
                .title{
                    font-size: 40px;
                }
            }
        }
        .instrument{
            .text{
                padding: 10px;
                top: 65%;
                .title{
                    font-size: 22px;
                }
                p{
                    font-size: 12px;
                }
            }
        }
        .article-title{
            font-size: 40px;
        }
    }
    .article{
        line-height: 2rem !important;
    }
    .instruments-bread{
        .breadcrumb li:nth-last-child(1){
            margin-right: auto;
        }
        .breadcrumb li:nth-child(1){
            margin-left: auto;
        }
    }
}

@media (max-width:576px){
    .main-brand{
        .slick-dotted.slick-slider{
            margin-bottom: 70px;
        }
        
       .instruments-bread{
        margin-top: 70px;
        }
        .instruments-gallery{
            overflow: hidden;
            .text{
                text-shadow: 0 0 10px rgba(17, 17, 17, 0.952);
            }
            .col-md-4{
                padding: .8rem 0 !important;
                max-height: 250px;
                overflow: hidden;
                .img{
                    max-height: 250px;
                }
            }
            .col-12{
                padding: .8rem 0 !important;
                .instrument{
                    height: 250px;
                    .img, img{
                        height: 100%;
                        width: auto;
                    }
                }
            }
        }
        .page-title{
            font-size: 40px;
        }
        .article{
            margin-bottom: 50px;
        }
        .article-title{
            margin: 40px auto 20px;
        }
    }
}

@media (max-width:576px){
    .instruments-bread{
        margin-top: 70px;
    }
    .main-brand{
        .page-title{
            font-size: 40px;
        }
        .instruments-gallery{
            .col-12 .instrument{
                height: 250px;
                .img, img{
                    height: 100%;
                    width: auto;
                }
            }
        }
    }
}

@media (max-width:475px){
    .main-brand{
        .slider-item{
            padding:120px 0 120px;
            .title{
                font-size: 30px;
            }
        }
        .article-title{
            font-size: 30px;
        }
    }
}

@media (max-width:475px){
    .main-brand{
        .page-title{
            font-size: 24px;
        }
        .slider-item{
            .title{
                font-size: 24px;
            }
        }
        .article-title{
            font-size: 21px;
        }
    }
}

