.card-main-artist{
    text-align: center;
    .breadcrumb{
        margin-top: 30px;
    }
    .description{
        margin-top: 90px;
        // font-family: 'Minion';
        font-size: 22px;
    }
    .name-artist{
        margin: 40px auto 350px;
        max-width: 500px;
        font-size: 50px;
        padding-bottom: 30px;
        border-bottom: 1px solid #c8c8c8;
    }
}
.photo-artist{
    max-height: 800px;
    overflow: hidden;
    img{
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}

@media (min-width:1700px){
    .card-main-artist{
        .description{
            max-width: 1300px;
            font-size: 28px;
            margin: 90px auto 0;
        }
    }
}

@media (max-width:769px){
    .card-main-artist{
        .description{
            margin: 40px auto 0;
        }
        .name-artist{
            margin: 40px auto 250px;
            font-size:40px;
        }
    }
}


@media (max-width:577px){
    .card-main-artist{
        .description{
            font-size: 18px;
        }
        .name-artist{
            margin: 40px auto 150px;
        }
        .instruments-bread{
            margin-top: 30px;
        }
    }
}