.product-main{
    .photos{
        .big-img{
            max-height: 100%;
            width: 100%;
            overflow: hidden;
            img{
                height: 100%;
                width: 100%;
            }
        }
        .img-thumbs.row {
            margin: 10px 0px;
            .img{
                display: inline-block;
                max-width: 40px;
                max-height: 40px;
                margin-right: 5px;
                margin-bottom: 5px;
                overflow: hidden;
                cursor: pointer;
                img{
                    width: 100%;
                }
            }
        }
    }
    .description{
        margin-top: 40px;
        color: #8d8d8d;
        font-family: 'hel';
        text-transform: uppercase;
        font-weight: 700;
        font-size: 15px;
        span{
            color: $dark;
        }
    }
    .product-date{
        font-family: sans-serif;
        font-weight: 700;
        font-size: 14px;
    }
    .info{
        .text{
            font-family: 'pro';
        }
        .title{
            font-family: 'Hel';
            font-size: 50px;
            // margin-bottom: 20px;
        }
        .subtitle{
            margin-bottom: 35px;
        }
        .description-product{
            font-weight: bold;
        }
        ul{
            margin: 10px 0;
            padding-left: 15px;
            list-style-image: url(../images/circle.png);
            li{
                padding: 4px 0;
            }
        }
        .strip{
            display: inline-block;
            height: 1px;
            width: 100%;
            background: #c8c8c8;
            margin-bottom: 60px;
        }
        .button{
            @extend %button;
            font-family: 'Hel';
            background: $yellow;
            max-width: 300px;
            margin-top: 60px;
            font-size: 17px;
            padding: 15px 0;
            &:hover{
                background: none; 
                color: $dark;
            }
        }
    }
    .product-text {
        margin: 80px 0 200px;
        text-align: center;
        .title{
            font-size: 50px;
            text-transform: uppercase;
            margin-bottom: 30px;
        }
        p{
            // font-family: 'Minion';
            line-height: 2rem;
        }
        .strip{
            display: inline-block;
            height: 1px;
            width: 100%;
            background: #c8c8c8;
            margin: 35px 50%;
            transform: translate(-50%);
            text-align: center;
            max-width: 650px;
        }
    }
}

@media (max-width: 768px){
    .product-main .photos .big-img img{
        width: 100%;
    }
}

@media (max-width: 766px){
    .product-main .info .title{
        margin-top: 40px;
    }
    .product-main .product-text{
        margin: 40px auto 80px;
    }
}
@media (max-width: 576px){
    .product-main .product-text{
        margin: 20px auto 30px;
    }
}

@media (max-width: 425px){
    .product-main .product-text{
        text-align: left;
    }
    .product-main .product-text .title{
        font-size: 27px;
    }
}
