.catalog-instruments{
    .instrument-first{
        height: 600px !important;
    }
    .instrument-image{
        height: 600px !important;
        img{
            width: 100% !important;
            height: 100%;
            object-fit: cover;
            object-position: bottom;
        }
    }
    .instrument-content{
        overflow: hidden;
        text-align: center;
        position: relative;
        box-shadow: 0 0 0.8rem #969696c9;
        height: 320px;
        transition: all 0.4s;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform var(--photoboxAnimationDuration, 2s) cubic-bezier(0.71, 0.05, 0.29, 0.9);
        }
        .instrument-text{
            position: absolute;
            bottom:0;
            text-align: center;
            width: 100%;
            max-height: 470px;
            transition: all 1s;
            p{
                text-decoration: none;
                color: #000;
                font-size: 36px;
                text-transform: uppercase;
            }
            a:hover{
                color: #fff;
            }
        }
    }
    .instrument-content:hover{
        transition: all 0.4s;
        img{
            transform: scale(1.2);
        }
        .instrument-text{
            transition: all 1s ease;
            background-color: #000;
            opacity: .6;
            p{
                color: #fff;
            }
        }
    }
    .instrument-boston{
        height: 450px !important;
    }
    .instrument-content-boston{
        height: 420px;
        img{
            object-fit: contain;
            width: 80%;
        }
    }
    .instrument-essex{
        height: 340px;
        img{
            object-fit: contain;
            width: 75%;
        }
    }
    .instrument-spirio{
        height: 515px !important;
    }
}


.instrument-content.instrument-first.instrument-boston img{
    object-fit: contain !important;
}
.catalog-instruments .col-xl-12 .instrument-content img{
    object-fit: cover;
}

.catalog-instruments .col-xl-6 .instrument-content img{
    object-fit: cover;
    object-position: center;
}

@media(max-width:1920px){
    .catalog-instruments .col-xl-4{
        .instrument-image-content img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: bottom;
        }
    } 
}

@media(max-width:1440px){
    .catalog-instruments .col-xl-4 .instrument-image-content img{
        width: auto !important;
        height: 100%;
    }
    .catalog-instruments .col-xl-6 .instrument-content img{
        height: auto !important;
    }
}

@media(max-width:1024px){
    .catalog-instruments .col-xl-4 .instrument-image-content img{
        width: 100% !important;
        object-position: center;
    }
    .catalog-instruments .col-xl-6 .instrument-content img{
        width: 100%;
        height: 100% !important;
    }
}

@media(max-width:425px){
    .catalog-instruments .instrument-image, .catalog-instruments .instrument-spirio {
        height: 300px !important;
    }
}
