.catalog-main{
    .article{
        margin-bottom: 60px;
    }
    .button{
        @extend %button;
        max-width: 650px;
        margin: auto;
        background: $yellow;
        &:hover{
            background: none;
            color: $dark;
        }
    }
    .catalog-title{
        font-size: 50px;
        text-align: center;
        text-transform: uppercase;
        margin-top: 90px;
    }
    .catalog-subtitle{
        // font-family: 'Minion';
        text-align: center;
        font-size: 18px;
        margin-top: -5px;
        margin-bottom: 30px;
    }
    .catalog-products{
        .item{
            border: 2px solid #d2d2d2;
            padding: 15px;
            text-align: center;
            transition: all.4s;
            &:hover{
                border: 2px solid #d2d2d200;
                box-shadow: 0 0 50px rgba(90, 90, 90, 0.315);
            }
            .img{
                padding: 20px;
            }
            .info{
                margin-top: 20px;
                padding-bottom: 20px;
                .title{
                    text-transform: uppercase;
                    font-size: 24px;
                }
                .description{
                    font-size: 14px;
                    margin: 30px 0;
                    color: #8a8a8a;
                    // font-family: 'Minion';
                }
                a{
                    text-transform: uppercase;
                    color: $yellow;
                    transition: all.4s;
                    img{
                        margin-left: 5px;
                    }
                }
                a:hover{
                    text-decoration: none;
                    color: $dark;
                }
            }
        }
        .item img{
            transition: all.4s;
        }
        .item:hover img{
            transform: scale(1.1);
        }
    }
}

@media (max-width: 770px){
    .pag{
        margin: 40px auto 150px;
    }
}

@media (max-width: 576px){
    .page-title{
        font-size: 40px;
        margin-bottom: 30px;
    }
    .catalog-main .button{
        padding: 15px 0;
        font-size: 14px;
    }
}


@media (max-width: 425px){
    .pag{
        margin: 40px auto 70px;
    }
}

@media (max-width: 375px){
    .catalog-main .button{
        font-size: 12px; 
    }
}