.news-main{
    .page-title{
        margin-bottom: 20px;
    }
    .button{
        @extend %button;
        max-width: 650px;
        background: $yellow;
        &:hover{
            background: none;
            color: $dark;
        } 
    }
    .catalog-products{
        .item{
            height: 100%;
            padding: 20px 10px;
            text-align: left;
            transition: all.4s;
            &:hover{
                box-shadow: 0 0 50px rgba(90, 90, 90, 0.315);
            }
            .info{
                margin-top: 20px;
                padding-bottom: 20px;
                .title{
                    text-transform: uppercase;
                    font-size: 18px;
                    height: 3rem;
                }
                .description{
                    font-weight: bold;
                    margin: 30px 0;
                    font-family: 'Minion';
                }
                a{
                    display: flex;
                    align-items: center;
                    text-transform: uppercase;
                    color: $yellow;
                    transition: all.4s;
                    img{
                        margin-left: 25px;
                    }
                }
                a:hover{
                    text-decoration: none;
                    color: $dark;
                }
            }
        }
        .item .img{
            max-height: 400px;
            overflow: hidden;
            img{
                width: 100%;
            }
        } 
    }
}

@media (max-width: 770px){
    .pag{
        margin: 40px auto 150px;
    }
    .col-md-6 {
         max-width: 100%;
         flex: 0 0 100%;
    }
}

@media (max-width: 576px){
    .page-title{
        font-size: 40px;
        margin-bottom: 30px;
    }
    .catalog-main .button{
        padding: 15px 0;
        font-size: 14px;
    }
}


@media (max-width: 425px){
    .pag{
        margin: 40px auto 70px;
    }
}

@media (max-width: 375px){
    .catalog-main .button{
        font-size: 12px; 
    }
}