.instruments-cont {
    margin-top: 90px;
    padding: 60px 0px 130px;
    .title{
        font-size: 50px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 90px;
    }
    a{
        text-decoration: none;
        color: $dark;
    }
    .item{
        background-size: cover;
        text-align: center;
        transition: all.4s;
        padding: 30px;
        .info p{
            font-size: 30px;
            font-weight: bold;
            margin-top: 35px;
        }
        .img{
            margin-bottom: 35px;
            height: 320px;
            img{
            width: 100%;
            height: 100%;
            object-fit: contain;
            }
        }
        .logo-company{
            img{
                width: 100%;
                }
            }
        }  
    .item:hover{
        box-shadow: 0px 15px 30px rgba(185, 185, 185, 0.664);
    }
    .item:nth-child(2){
        p{
            color: $yellow;
        }
    }
}

.instruments-cont .item:nth-child(1) .logo-company img{
    margin-top: auto;
    width: 100%;
}  


.artists{
    padding: 80px 0;
    .title{
        margin-bottom:70px;
        font-size: 50px;
        font-weight: bold;
        span{
            color: $yellow;
        }
    }
    .img-top{
        margin-bottom: 15px; 
    }
    .img-sm{
        height: calc(30% - 15px);
    }
    .img-b{
        height: calc(70% - 35px);
    }
    .img{
        cursor: pointer;
        overflow: hidden;
        position: relative;
        img{
            width: 100%;
            height: 100%;
        }
        .info{
            transition: all.4s;
            position: absolute;
            bottom: -70px;
            left: 50%;
            transform: translate(-50%);
            z-index: 200;
            width: 53%;
            .text{
                color: #fff;
                text-decoration: none;
                text-align: center;
                font-size: 20px;
                font-weight: bold;
                display: block;
                margin-bottom: -10px;
            }
            span{
                display: inline-block;
                height: 2px;
                width: 100%;
                background: $yellow;
            }
        }
    }
    .img-back::before{
        position: absolute;
        top: 0px;
        left: 0px;
        content: '';
        width: 100%;
        height: 100%;
        transition: all.4s;
        background: rgba(0, 0, 0, 0.664);
        opacity: 0;
        z-index: 100;
    }
    .img-back:hover:before{
        opacity: 1; 
    }
    .img:hover .info{
        bottom: 30px;
    }
}


@media (min-width:1699px){
    .slider-item .info a, .offer .info a, .artists-main .button, .spirio-main .button{
        max-width: 250px;
    }
    footer{
        margin-top: 400px;
    }
    .offer-2{
        padding-bottom: 230px;
        .title{
            font-size: 50px;
            max-width: 700px;
        }
        .book {
            max-width: 1060px !important;
        }
    }
    .slider-item .info .logo {
        max-width: 500px;
    }
    .slider-item .info .title {
        font-size: 64px;
    }
    .slider-item .info .title span {
        font-size: 32px;
    }
}

@media (max-width:1025px){
    .instruments-cont{
        margin-top: 30px;
    }
    .slider-item .info a{
        margin: 30px auto 0px;
    }
    .custom-cont-dots{
        margin: -100px auto 0;
    }
}

@media (max-width:768px){
    .first-block{
        .slider-first{
            .slider-item .info a{
                margin: 20px auto 0;
            }
            .title{
                font-size: 25px;
                margin-top: 25px;
                span{
                    font-size: 16px;
                }
            }
            .slider-item .info .logo{
                max-width: 200px;
            }
        }
    }
    .instruments-cont{
        .title{
            margin-bottom: 30px;
        }
        margin: 70px 0 90px;
        padding: 0;
    }
    .instruments-cont .item{
        padding: 10px;
    }
    .instruments-cont .item .img{
        height: 200px;
    }
    .custom-cont-dots{
        margin-bottom: -90px;
    }
    .artists{
        padding: 50px 0;
        .title{
            margin-bottom: 40px;
        }
        .col-sm-6{
            flex: 0 0 100% !important;
            max-width: 100% !important;
        }
        .img-sm{
            height: calc(35% - 15px);
        }
    }
}

@media (max-width:576px){
    .cont-slick{
        width: 100%;
    }
    .custom-cont-dots{
        margin: -40px auto 0;
    }
    .first-block .slider-first .title{
        font-size: 18px;
    }
    .slider-item .info{
        margin-top: 20px;
    }
    .first-block{
        .row{
            flex-direction: column-reverse;
        }
        .col-sm-5{
            flex: 0 0 100%;
            max-width: 100%;
        }
        .col-sm-7{
            flex: 0 0 100%;
            max-width: 400px;
            margin: 0 auto;
        }
    }
    .slider-item{
        padding: 55px 0px 70px;
    }
    .first-block .slider-first .title{
        font-size: 21px;
    }
    .instruments-cont .item{
        margin: 0 auto 50px;
    }
}

@media (max-width:425px){
    .instruments-cont .title, .artists .title{
        font-size: 40px;
    }
}

@media (max-width:375px){
    .instruments-cont .title, .artists .title{
        font-size: 30px;
    }
    .instruments-cont .item {
        margin: 0 auto 20px;
    }
}

@media (max-width:325px){
    .instruments-cont .item {
        margin: 0 auto 10px;
    }
}




















