.instruments-main{
    .page-title{
        font-size: 60px;
        margin: -30px auto 10px;
    }
    .article{
        margin-bottom: 80px;
    }
    .width-text{
        max-width: 1100px;
        margin: auto;
    }
    .instrument{
        position: relative;
        .img{
            width: 100%;
            overflow: hidden;
            position: relative;
        }
        img{
            width: 100%;
            transition: transform var(--photoboxAnimationDuration, 2s) cubic-bezier(0.71, 0.05, 0.29, 0.9);
          will-change: transform;
            transform: scale(1) translate(0, 0);
        }
        .img:before{
        content: '';
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.616);
        opacity: 0;
        transition: opacity var(--photoboxAnimationDuration, 2s) cubic-bezier(0.71, 0.05, 0.29, 0.9);
        will-change: opacity;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
      }
      .text{
          position: absolute;
          bottom: 70px;
          left: 50%;
          transform: translate(-50%);
          color: #fff;
          z-index: 205;
          max-width: 1000px;
          width: 100%;
          text-align: center;
          font-size: 30px;
          .title{
              text-decoration: none;
              color: #fff;
              font-size: 36px;
              text-transform: uppercase;
              transition: all.4s;
          }
          .title:hover{
              color: $yellow;
          }
          p{
              font-size: 16px;
              font-family: 'Minion';
          }
      }
    }
    .article-title{
        font-size: 50px;
        text-align: center;
        margin: 80px auto 20px;
    }
    .col-md-4{
        .text{
            bottom: 20px;
            top: 60%;
            max-width: 400px;
        }
    }
     
    .instrument:hover .img:before{
       opacity: 1;
    }
       
    .instrument:hover img{
        transform: scale(1.2) translate(4%, 4%);
    }
    .blockquote-comment{
        max-width: 670px;
        text-align: center;
        margin: 90px auto 170px;
        padding: 40px;
        border-top: 1px solid #c8c8c8;
        border-bottom: 1px solid #c8c8c8;
        // .comment, .text{
        //     font-family: 'Minion';
        // }
        .comment{
            font-family: 'pro';
            font-size: 29px;
        }
        .info{
            margin-top: 30px;
            .author{
                font-size: 36px;
            }
            .text{
                font-family: 'pro'; 
            }
        }
    }

}

@media (min-width:1440px){
    .instruments-main{
        .instrument{
            .text{
                bottom: 0;
                top: 70%;
                .title{
                    font-size: 32px;
                }
            }
        }
        .col-md-4 .text {
            max-width: 600px;
        }
    }
}

@media (min-width:1700px){
    .instruments-main{
        .instrument{
            .text{
                bottom: 150px;
            }
        }
    }
}

@media (max-width:1025px){
    .instruments-main{
        .instrument{
            .text{
                padding: 10px;
                top: 50%;
                .title{
                    font-size: 27px;
                }
                p{
                    font-size: 14px;
                }
            }
        }
    }
}

@media (max-width:769px){
    .instruments-main{
        .instrument{
            .text{
                padding: 10px;
                top: 40%;
                .title{
                    font-size: 22px;
                }
                p{
                    font-size: 12px;
                }
            }
        }
        .article-title{
            font-size: 40px;
        }
        .blockquote-comment{
            .comment{
                font-size: 21px;
            }
            .info{
                margin-top: 30px;
                .author{
                    font-size: 36px;
                }
            }
        }
    }
    .article{
        line-height: 2rem !important;
    }
    .instruments-bread{
        .breadcrumb li:nth-last-child(1){
            margin-right: auto;
        }
        .breadcrumb li:nth-child(1){
            margin-left: auto;
        }
    }
}

@media (max-width:576px){
    .instruments-main{
        .instruments-gallery{
            overflow: hidden;
            .text{
                text-shadow: 0 0 10px rgba(17, 17, 17, 0.952);
            }
            .col-md-4{
                max-height: 250px;
                overflow: hidden;
                .img{
                    max-height: 250px;
                }
            }
        }
        .blockquote-comment{
            margin: 40px auto 70px !important;
        }
    }
}

@media (max-width:576px){
    .instruments-bread{
        margin-top: 70px;
    }
    .instruments-main{
        .page-title{
            font-size: 40px;
        }
        .instruments-gallery{
            .col-12 .instrument{
                height: 250px;
                .img, img{
                    height: 100%;
                    width: auto;
                }
                .text{
                    padding: 10px 20px;
                }
            }
        }
    }
}

@media (max-width:475px){
    .instruments-main{
        .article-title{
            font-size: 30px;
        }
        .blockquote-comment .info .author{
            font-size: 21px;
        }
    }
    .instruments-main .instrument .text{
        top: 25%;
    }
}

@media (max-width:360px){
    .instruments-main .instrument .text{
        top: 20%;
        padding: 10px 20px;
    }
    .instruments-main .blockquote-comment .comment{
        font-size: 18px;
    }
}
