.investments-main{
    .article-title{
        margin-top: 70px;
    }
    .article{
        margin-bottom: 120px;
    }
    .button{
        @extend %button;
        margin: 80px auto 0px;
        max-width: 335px;
        font-weight: bolder;
        background: #bd833f;
        font-family: 'hel';
        margin-bottom: 2rem;
    }
}

@media(max-width:992px){
    .investments-main{
        .page-title{
            font-size: 27px;
        }
        .article{
            margin-bottom: 60px;
            line-height: 2rem;
        }
    }
}

@media(max-width:770px){
    .investments-bread{
        margin-top: 70px;
    }
}