.news-main{
    .page-title{
        text-transform: uppercase;
        max-width: 1000px;
    }
    .news-photo{
        text-align: center;
        .description{
            margin: 20px 0;
            // font-family: 'Minion';
            color: #8a8a8a;
        }
        .img{
            max-height: 400px;
            overflow: hidden;
        }
    }
}

@media(max-width:1024px){
    .news-main{ 
        margin-bottom: 90px;
        .page-title{
            font-size: 30px;
        }
    }
}

@media(max-width:769px){
    .news-main{
        .page-title{
            font-size: 30px;
        }
        .article{
            margin-bottom: 70px;
        }
    }
}

@media(max-width:567px){
    .news-main{
        .page-title{
            font-size: 21px;
        }
        .instruments-bread, .breadcrumb{
            margin-top: 30px;
            margin-bottom: 20px;
        }
    }
}


@media(max-width:567px){
    .news-main .catalog-products .item .img img{
        min-height: auto;
    }
}