.timer{
    margin-bottom: 300px;
    text-align: center;
    .countdown-number{
        display: inline-block;
        font-size: 200px;
        color: #a1a1a1;
    &:nth-child(1){
        color: $yellow;
    }
    }
}

.description-shou-rum{
    text-align: center;
    font-size: 24px;
    // font-family: 'Minion';
    margin-top: 200px;
    margin-bottom: -50px;
}

@media (max-width:768px){
    .timer{
        margin-bottom: 100px;
        .countdown-number{
            font-size: 60px;
        }
    }
    
    .description-shou-rum{
        font-size: 18px;
        margin-top: 50px;
        margin-bottom: 0px;
    }
    .timer-bread{
        li:nth-child(1){
            margin-left: auto;
        }
        li:nth-last-child(1){
            margin-right: auto;
        }
    }
}

@media (max-width:567px){
    .timer-bread{
        margin-top: 70px;
    }
}

@media (max-width:375px){
    .timer-bread{
        li:nth-child(1){
            margin-left: 0;
        }
        li:nth-last-child(1){
            margin-right: 0;
        }
    }
}