.spirio-main{
    .slider-first{
        .slider-item{
            padding: 270px 0;
            min-height: 720px;
            background-position: center;
            background-size: cover;
            .title{
                font-size: 60px;
                color: #fff;
                text-transform: uppercase;
                max-width: 1000px;
            }
        }
    }
.slick-dots{
    width: 100%;
    max-width: 340px;;
    margin-right: 100%;
    li{
        height: 4px;
        width: 60px;
    }
}
.slick-dotted.slick-slider{
    margin-bottom: 170px;
}
    .page-title{
        max-width: 1000px;
        line-height: 1.2;
    }
    .button{
        margin: 80px auto 0px;
        @extend %button;
        max-width: 335px;
        font-weight: bolder;
        background: $yellow;
        font-family: 'hel';
    }
    .button:hover{
        background: none;
        color: $dark;
    }
    .gallery-photo{
        margin: 0 -5px 120px;
        img{
            width: 100%;
            height: 100%;
        }
        .gallery-photo-item{
            overflow: hidden;
        }
    }
    .photo-fon{
        background-image: url(../images/fon3.png);
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 700px;
        background-position: center;
    }
    
}

.article{
    text-align: center;
    font-family: 'Pro';
    margin-bottom: 120px;
    line-height: 2.5rem;
}

@media (max-width:1025px){
    .spirio-main{
        .slider-first{
            .slider-item{
                padding: 230px 0;
                .title{
                    font-size: 50px;
                    color: #fff;
                    text-transform: uppercase;
                    max-width: 1000px;
                }
            }
        }
        .photo-fon{
            margin-bottom: 0px;
            min-height: 400px;
        }
    }
}

@media (max-width:770px){
    .spirio-main{
        .slider-first{
            .slider-item{
                padding: 130px 0;
                min-height: 500px;
                .title{
                    font-size: 40px;
                    max-width: 700px;
                }
            }
        }
        .cont-slick{
            width: 50%;
        }
        .slick-dots{
            max-width: 300px;
        
        }
        .slick-dotted.slick-slider{
            margin-bottom: 70px;
        }
        .custom-cont-dots{
            margin: -50px auto 0;
        }
    }
}


@media (max-width:576px){
    .spirio-main {
        .cont-slick{
            width: 100%;
        }
        .gallery-photo{
            margin: 0 -10px 60px;
        }
        .page-title{
            font-size: 35px;
        }
        .gallery-photo .gallery-photo-item{
            max-height: 300px;
            img{
                height: auto;
            }
        }
        .article{
            line-height: 2rem;
        }
    }  
}


@media (max-width:425px){
    .spirio-main {
        
        .slider-first .slider-item {
            min-height: 400px;
            .title{
                font-size: 30px;
            }
        }
        .article{
            line-height: 1.5rem;
        }
        .slick-dots{
            max-width: 220px;;
            li{
                width: 40px;
                margin-right: 10px;
            }
        }
    }
}

@media (max-width:360px){
    .spirio-main{
        .page-title{
            font-size: 24px;
        }
        .photo-fon{
            min-height: 200px;
        }
    }
}

@media (max-width:380px){
    .spirio-main .slider-first .slider-item{
        min-height: 400px;
        padding: 100px 0;
    }
}
