html {
  overflow-x: hidden; }

@font-face {
  font-family: 'Minion';
  src: url("../fonts/MinionPro-Regular.eot");
  src: url("../fonts/MinionPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/MinionPro-Regular.ttf") format("ttf"), url("../fonts/MinionPro-Regular.woff") format("woff");
  font-style: normal; }

@font-face {
  font-family: 'Hel';
  src: url("../fonts/HelveticaNeueBoldCondensed.eot");
  src: url("../fonts/HelveticaNeueBoldCondensed.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueBoldCondensed.ttf") format("ttf"), url("../fonts/HelveticaNeueBoldCondensed.woff") format("woff");
  font-style: normal; }

.slider-item .info a, .modal-content form button, .offer .info a, .offer-2 form button, .artists-main .button, .product-main .info .button, .catalog-main .button, .news-main .button, .investments-main .button, .spirio-main .button {
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  padding: 13px 0px;
  border: 1px solid #bd833f;
  max-width: 220px;
  width: 100%;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  transition: all 0.4s;
  display: block; }

.slider-item .info a:hover, .modal-content form button:hover, .offer .info a:hover, .offer-2 form button:hover, .artists-main .button:hover, .product-main .info .button:hover, .catalog-main .button:hover, .news-main .button:hover, .investments-main .button:hover, .spirio-main .button:hover {
  background: #bd833f; }

@media (max-width: 769px) {
  .slider-item .info a, .modal-content form button, .offer .info a, .offer-2 form button, .artists-main .button, .product-main .info .button, .catalog-main .button, .news-main .button, .investments-main .button, .spirio-main .button {
    font-size: 11px;
    padding: 10px 0px;
    max-width: 200px; } }

.slider-item {
  background-image: url(../images/fon1.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  padding: 55px 0px 130px; }
  .slider-item .info {
    margin-top: 70px;
    text-align: center; }
    .slider-item .info .logo {
      margin: 0 auto;
      max-width: 300px; }
      .slider-item .info .logo img {
        width: 100%; }
    .slider-item .info .title {
      font-size: 35px;
      margin-top: 35px;
      text-transform: uppercase;
      color: #fff;
      font-weight: bolder; }
      .slider-item .info .title span {
        font-size: 24px; }
    .slider-item .info a {
      margin: 50px auto 0px; }
  .slider-item .img img {
    width: 100%; }

.slick-dotted.slick-slider {
  margin-bottom: 0; }

.slick-dots {
  position: static;
  bottom: 0;
  width: auto;
  margin: 0 auto; }
  .slick-dots li {
    display: inline-block;
    height: 4px;
    width: 60px;
    border: 1px solid #bd833f;
    margin-right: 20px;
    -webkit-transition: all ease 0.8s;
    -moz-transition: all ease 0.8s;
    transition: all ease 0.8s; }
    .slick-dots li button {
      display: none; }
  .slick-dots .slick-active {
    animation: dots-back 3000ms linear; }

.custom-cont-dots {
  height: 10px;
  margin: -120px auto 0; }

.cont-slick {
  width: 40%; }

@keyframes dots-back {
  from {
    background: #ffffff00; }
  to {
    background: #bd833f; } }

.spirio-main .first-slider .item {
  background-image: url(../images/slider.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 300px 0 100px; }
  .spirio-main .first-slider .item .title {
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    max-width: 750px;
    margin-bottom: 60px; }

@media (max-width: 769px) {
  .custom-cont-dots {
    margin: -90px auto 0; }
  .slick-dots li {
    width: 40px;
    margin-right: 10px; } }

.product-slider {
  overflow: hidden;
  margin-top: 10px; }
  .product-slider .item {
    padding: 20px 0;
    text-align: center;
    border-bottom: 1px solid #dedede; }
    .product-slider .item .img img {
      width: 100%; }
  .product-slider .slick-prev {
    left: -15px; }
  .product-slider .slick-next {
    right: 5px; }
  .product-slider .text {
    margin-top: 15px; }
    .product-slider .text .title {
      font-weight: bold;
      margin-bottom: -3px; }
    .product-slider .text .subtitle {
      font-size: 14px;
      font-family: 'Minion';
      color: #8a8a8a; }

.modal.fade.show {
  padding-right: 0; }

.modal-dialog {
  margin: 10px auto  0; }

.modal-content {
  position: relative;
  border-radius: none;
  border: none;
  padding: 15px;
  text-align: center; }
  .modal-content .posit-absol {
    position: absolute;
    top: 45px;
    right: 50px; }
  .modal-content .modal-header {
    border: none; }
    .modal-content .modal-header .close {
      padding: 0;
      position: relative;
      width: 30px; }
  .modal-content span {
    display: inline-block;
    height: 2px;
    width: 30px;
    background: #bd833f;
    position: absolute; }
  .modal-content span:nth-child(2) {
    top: 0;
    transform: rotate(135deg); }
  .modal-content span:nth-child(1) {
    top: 0;
    transform: rotate(45deg); }
  .modal-content .modal-title {
    margin-top: 10px;
    text-align: center;
    font-size: 43px;
    text-transform: inherit;
    font-weight: 500;
    font-family: inherit; }
  .modal-content .modal-subtitle {
    margin-top: 15px; }
  .modal-content form {
    margin: 0 auto;
    max-width: 370px; }
    .modal-content form p {
      font-weight: 500;
      margin: 10px 0 4px; }
      .modal-content form p span {
        color: red; }
    .modal-content form input {
      text-align: center;
      width: 100%;
      margin: 10px auto;
      padding: 20px 20px;
      border: none;
      background: none;
      border-bottom: 1px solid #a7a7a7;
      font-family: inherit;
      outline: none; }
      .modal-content form input::placeholder {
        color: #a7a7a7;
        font-size: 15px; }
    .modal-content form button {
      font-family: 'Hel';
      background: #bd833f;
      max-width: 300px;
      font-size: 17px;
      padding: 15px 0;
      margin: 40px auto 0;
      max-width: 90%; }
      .modal-content form button:hover {
        background: none;
        color: #1c1c1c; }
  .modal-content .security {
    font-size: 12px;
    margin-top: 15px;
    color: #92929c; }

@media (min-width: 1466px) {
  .modal-dialog {
    min-width: 600px; }
  .modal.show .modal-dialog {
    transform: translate(0, -50px); }
  .modal-content {
    background: #ececec; }
    .modal-content .modal-title {
      font-size: 50px; }
    .modal-content form input {
      margin-bottom: 20px; }
    .modal-content form button {
      margin-top: 50px; } }

@media (max-width: 768px) {
  .modal-content .modal-title {
    font-size: 32px; } }

@media (max-width: 567px) {
  .modal-content .modal-title {
    font-size: 24px; } }

.swal-footer {
  text-align: center; }
  .swal-footer .swal-button-container .swal-button {
    background-color: #bd833f;
    border-radius: 0;
    padding: 10px 3rem;
    border: 1px solid #bd833f; }
    .swal-footer .swal-button-container .swal-button:hover {
      background-color: #fff;
      border: 1px solid #bd833f;
      color: #000; }
    .swal-footer .swal-button-container .swal-button:focus {
      box-shadow: none; }

footer {
  margin-top: 250px;
  background: #0d0d0d;
  padding: 40px 0; }
  footer ul {
    margin: 0px;
    padding: 0px; }
    footer ul li {
      display: inline-block;
      vertical-align: middle; }
      footer ul li img {
        max-width: 50px; }
      footer ul li a {
        text-transform: uppercase;
        text-decoration: none;
        color: #a1a1a1;
        transition: all 0.4s;
        font-size: 11px;
        padding: 0px 13px;
        letter-spacing: 0.05em;
        font-weight: bold; }
      footer ul li a:hover {
        text-decoration: none;
        color: #bd833f; }
    footer ul .link-lux {
      font-size: 12px;
      font-weight: 400; }
      footer ul .link-lux a {
        color: #a1a1a1; }
  footer .text {
    color: #a1a1a1c5;
    font-size: 11px;
    text-align: center; }
    footer .text span {
      color: #bd833f;
      opacity: 0.4; }
  footer .col-md-3 {
    font-family: "Minion"; }

@media (max-width: 1025px) {
  footer {
    margin-top: 200px; }
    footer ul li a {
      padding: 0 10px; }
    footer .row {
      align-items: center; } }

@media (max-width: 768px) {
  footer {
    margin-top: 260px; }
    footer ul {
      max-width: 660px !important;
      flex: 0 0 100% !important;
      margin: 0 auto; }
    footer .col-md-3 {
      max-width: 500px !important;
      flex: 0 0 100% !important;
      margin: 30px auto 0; } }

@media (max-width: 576px) {
  footer {
    margin-top: 220px; }
    footer ul {
      column-count: 2; }
      footer ul li {
        display: block;
        text-align: center;
        margin: 5px 0; }
        footer ul li a {
          font-size: 13px; } }

@media (max-width: 425px) {
  footer {
    margin-top: 130px; } }

@media (max-width: 375px) {
  footer {
    margin-top: 220px; }
    footer .row {
      margin: 0; } }

@media (max-width: 325px) {
  footer {
    margin-top: 170px; } }

header {
  background: #0d0d0d;
  position: relative;
  padding: 30px 0;
  box-shadow: 0 30px 60px rgba(36, 36, 36, 0.513); }
  header .row {
    align-items: center;
    margin: 0; }
  header ul {
    margin: 0px;
    padding: 0px; }
    header ul li {
      display: inline-block;
      vertical-align: middle; }
      header ul li img {
        max-width: 50px; }
      header ul li a {
        text-transform: uppercase;
        text-decoration: none;
        color: #a1a1a1;
        transition: all 0.4s;
        font-size: 11px;
        padding: 0px 13px;
        font-weight: bold; }
      header ul li a:hover {
        text-decoration: none;
        color: #bd833f; }
  header .soc-net {
    display: flex;
    margin-left: auto;
    max-width: 200px; }
  header .soc-net a {
    padding: 0px 15px; }
    header .soc-net a svg {
      fill: #a1a1a1;
      transition: all 0.4s; }
    header .soc-net a svg:hover {
      fill: #bd833f; }

.canvi-navbar {
  background-color: #fff;
  transition: 1.5s cubic-bezier(0, 0.8, 1, 1.04) !important; }
  .canvi-navbar .canvi-header-logo {
    text-align: center; }
    .canvi-navbar .canvi-header-logo img {
      width: 11rem; }
  .canvi-navbar .canvi-slider {
    transition: all .5s ease;
    text-align: center; }
    .canvi-navbar .canvi-slider ul li {
      list-style-type: none;
      margin-top: .5rem; }
      .canvi-navbar .canvi-slider ul li:first-child {
        margin-top: 0; }
      .canvi-navbar .canvi-slider ul li a {
        color: #000;
        font-size: large;
        text-transform: lowercase; }
        .canvi-navbar .canvi-slider ul li a:hover {
          color: #bd833f;
          text-decoration: none; }
    .canvi-navbar .canvi-slider .item {
      text-align: center;
      margin-top: 1rem;
      padding: 1rem;
      transition: .7s; }
      .canvi-navbar .canvi-slider .item img {
        width: 75%;
        transition: all linear .3s; }
        .canvi-navbar .canvi-slider .item img:hover {
          transform: scale(1.1); }
      .canvi-navbar .canvi-slider .item .text {
        color: #000;
        margin-top: 1rem; }
      .canvi-navbar .canvi-slider .item a:hover {
        text-decoration: none; }
      .canvi-navbar .canvi-slider .item:hover .title {
        color: #BD833F; }

.canvi-content {
  transition: 1.5s cubic-bezier(0, 0.8, 1, 1.04) !important; }

.js-canvi-open-button--left {
  width: 2rem;
  height: 1.5rem;
  background-color: transparent; }
  .js-canvi-open-button--left span {
    position: absolute;
    width: 1.5rem;
    height: 2.5px;
    background-color: #BD833F;
    top: 54%;
    left: 10%; }
    .js-canvi-open-button--left span:after {
      content: "";
      position: absolute;
      width: 1.5rem;
      height: 2.5px;
      background-color: #BD833F;
      top: -7px; }
    .js-canvi-open-button--left span:before {
      content: "";
      position: absolute;
      width: 1.5rem;
      height: 2.5px;
      background-color: #BD833F;
      top: 7px; }

.js-canvi-open-button--left::before {
  top: 0;
  transform: rotate(-45deg); }

.js-canvi-open-button--left::after {
  top: 0;
  transform: rotate(45deg); }

@media (max-width: 1025px) {
  header .row {
    margin-left: 25px; }
  header .col-lg-10 {
    max-width: 810px;
    margin: 0 auto;
    flex: 100%;
    max-width: 100%; }
  header .soc-net {
    display: none; } }

@media (max-width: 768px) {
  header {
    padding: 0; }
    header ul {
      display: none; } }

.open-button-mobile-menu {
  display: none;
  position: relative;
  height: 20px;
  width: 40px;
  z-index: 600; }

@media (max-width: 768px) {
  .open-button-mobile-menu {
    display: block; } }

.mobile-menu {
  position: fixed;
  top: 0;
  padding: 25px;
  height: 100vh;
  left: -100%;
  transition: linear .8s;
  max-width: 300px;
  width: 100%; }
  .mobile-menu .mob-menu-header {
    display: flex;
    align-items: center; }
  .mobile-menu .close-mobile-menu {
    display: block;
    width: 30px;
    height: 30px;
    position: relative; }
    .mobile-menu .close-mobile-menu span {
      position: absolute;
      background: #bd833f;
      transition: all 0.4s;
      height: 2px;
      width: 30px;
      top: 10px; }
    .mobile-menu .close-mobile-menu span:nth-child(1) {
      transform: rotate(45deg); }
    .mobile-menu .close-mobile-menu span:nth-last-child(1) {
      transform: rotate(135deg); }
  .mobile-menu ul {
    padding: 0;
    margin: 30px 0; }
    .mobile-menu ul li {
      padding: 8px 0; }
      .mobile-menu ul li a {
        padding: 8px 0;
        color: #bd833f;
        text-decoration: none;
        transition: all 0.4s; }
        .mobile-menu ul li a:hover {
          color: #1c1c1c; }
  .mobile-menu .logo {
    width: 50px;
    margin-left: auto; }
  .mobile-menu .soc-net {
    display: flex; }
  .mobile-menu .soc-net a {
    padding: 0px 15px; }
    .mobile-menu .soc-net a svg {
      fill: #a1a1a1;
      transition: all 0.4s; }
    .mobile-menu .soc-net a svg:hover {
      fill: #bd833f; }
  .mobile-menu .soc-net a:nth-child(1) {
    padding-left: 0; }
  .mobile-menu .soc-net a:nth-child(3) {
    padding-right: 0; }

.open-button-mobile-menu span {
  position: absolute;
  background: #bd833f;
  transition: all 0.4s;
  height: 2px; }

.open-button-mobile-menu span:nth-child(1) {
  top: 0;
  width: 32px; }

.open-button-mobile-menu span:nth-child(2) {
  top: 10px;
  width: 40px; }

.open-button-mobile-menu span:nth-last-child(1) {
  width: 22px;
  top: 20px; }

.mobile-menu.nav-open {
  background: #ececec;
  left: 0;
  z-index: 10000;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.226); }

.canvi-btn {
  cursor: pointer;
  position: absolute;
  height: 20px;
  width: 40px;
  top: 30px;
  left: 5px;
  z-index: 502; }

.pag {
  margin: 40px auto 250px;
  text-align: center; }
  .pag .strip {
    height: 2px;
    display: inline-block;
    max-width: 500px;
    width: 100%;
    background: #a1a1a183; }
  .pag .pagination {
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center; }
    .pag .pagination .prev {
      cursor: pointer; }
      .pag .pagination .prev:hover {
        color: #bd833f; }
    .pag .pagination li:nth-child(1) a img {
      transform: rotate(180deg); }
      .pag .pagination li:nth-child(1) a img:hover {
        opacity: .7; }
    .pag .pagination li:hover {
      background: none; }
      .pag .pagination li:hover:hover {
        opacity: .7; }
    .pag .pagination .page-link.active {
      color: #bd833f; }
    .pag .pagination .page-link {
      padding: 8px 30px;
      border: none;
      outline: none;
      color: #a1a1a1;
      transition: all 0.2s;
      font-weight: 700;
      font-size: 22px;
      background: none; }
      .pag .pagination .page-link:hover {
        background: none;
        color: #bd833f; }

.slider-menu-main .item .img {
  overflow: hidden; }
  .slider-menu-main .item .img img {
    width: 100%; }

.slider-menu-main .item .text {
  text-align: center; }
  .slider-menu-main .item .text .title {
    font-weight: bold; }
  .slider-menu-main .item .text .subtitle {
    font-size: 14px;
    color: #8a8a8a; }

.slider-menu-nav {
  max-width: 100px;
  margin: 20px auto; }
  .slider-menu-nav img {
    width: 100%; }

.slick-arrow {
  display: block;
  padding: 15px;
  margin: auto; }

.page-title {
  font-size: 50px;
  font-weight: bold;
  color: #1c1c1c;
  text-align: center;
  margin-bottom: 40px; }

.breadcrumb {
  background: none;
  margin-top: 45px;
  margin-bottom: 30px;
  padding: 0;
  font-family: 'Pro'; }
  .breadcrumb li {
    font-size: 14px; }
  .breadcrumb li:nth-child(1) {
    margin-left: auto; }
  .breadcrumb li:nth-last-child(1) {
    margin-right: auto; }
  .breadcrumb li a {
    color: #787878; }
  .breadcrumb .breadcrumb-item.active {
    color: #494949 !important; }
  .breadcrumb .breadcrumb-item {
    position: relative;
    margin-right: 40px; }
  .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
    content: '';
    background-image: url(../images/right-arrow.png);
    height: 12px;
    width: 5px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 6px;
    left: -20px; }

.right-fixed-panel {
  position: fixed;
  left: 100%;
  top: 40%;
  transform: translate(-50%);
  z-index: 300; }
  .right-fixed-panel .info-panel {
    transition: all 0.4s;
    width: max-content;
    display: flex;
    align-items: center;
    position: absolute;
    right: -179px;
    height: 40px;
    cursor: pointer;
    background: #0d0d0d;
    padding-left: 10px; }
    .right-fixed-panel .info-panel img {
      margin-right: .6rem;
      width: 20px; }
    .right-fixed-panel .info-panel a {
      color: #000; }
    .right-fixed-panel .info-panel:nth-child(2) {
      top: 3rem;
      right: -297px; }
    .right-fixed-panel .info-panel:nth-child(3) {
      top: 6rem;
      right: -254px; }
    .right-fixed-panel .info-panel:nth-child(4) {
      top: 9rem;
      right: -160px; }
    .right-fixed-panel .info-panel:nth-child(5) {
      top: 12rem;
      right: -152px; }
    .right-fixed-panel .info-panel .info {
      width: 100%;
      padding: 0px 20px;
      height: 100%;
      background: #e2e2e2;
      display: flex;
      align-items: center; }
      .right-fixed-panel .info-panel .info p {
        margin: 0; }
    .right-fixed-panel .info-panel:hover {
      right: 0; }
  .right-fixed-panel .info-panel--open {
    width: 320px; }
    .right-fixed-panel .info-panel--open .info {
      margin: 0; }
  .right-fixed-panel .hidden-panel {
    display: none; }
  .right-fixed-panel .info-panel img {
    transition: all 0.4s; }
  .right-fixed-panel .info-panel:hover img {
    transform: rotate(15deg); }

@media (max-width: 375px) {
  .pag .pagination {
    color: #bd833f; }
    .pag .pagination .page-link {
      padding: 8px 10px !important; } }

@media (max-width: 1024px) {
  .right-fixed-panel .info-panel.hidden-panel {
    display: flex; } }

@media (max-width: 768px) {
  .canvi-btn {
    top: 20px;
    left: 6px; }
  .breadcrumb li {
    font-size: 13px; }
  .breadcrumb li:nth-child(1) {
    margin-left: 0; }
  .breadcrumb li:nth-last-child(1) {
    margin-right: 0; }
  .breadcrumb .breadcrumb-item {
    position: relative;
    margin-right: 20px; }
  .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
    content: '';
    height: 10px;
    width: 4px;
    left: -10px;
    bottom: 5px; } }

@media (max-width: 520px) {
  .breadcrumb li {
    font-size: 12px; }
  .breadcrumb .breadcrumb-item {
    margin-right: 14px; }
  .breadcrumb .breadcrumb-item + .breadcrumb-item {
    padding-left: 0px; }
  .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
    content: '';
    height: 8px;
    width: 3px;
    left: -7px;
    bottom: 6px; } }

.offer {
  background-image: url(../images/fon2.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 255px 0px;
  box-shadow: 0 30px 60px rgba(70, 68, 68, 0.657); }
  .offer .info {
    margin-left: auto;
    max-width: 630px;
    text-align: center; }
    .offer .info p {
      font-size: 50px;
      font-weight: bold;
      color: #fff;
      text-transform: uppercase;
      margin-top: 60px;
      margin-bottom: 55px; }
      .offer .info p span {
        color: #bd833f;
        font-size: 50px; }
    .offer .info a {
      margin: 0px auto; }

.offer-2 {
  background-image: url(../images/fon1.jpg);
  padding-top: 80px;
  padding-bottom: 100px;
  box-shadow: 0 30px 60px rgba(70, 68, 68, 0.657);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  .offer-2 .container {
    position: relative; }
  .offer-2 .title {
    color: #fff;
    font-weight: bold;
    font-size: 35px;
    line-height: 1.3;
    text-transform: uppercase;
    text-align: center;
    max-width: 430px; }
    .offer-2 .title span {
      color: #bd833f; }
  .offer-2 .book {
    position: absolute;
    max-width: 750px !important; }
  .offer-2 form {
    margin-left: auto; }
    .offer-2 form input {
      color: #fff;
      font-family: monospace;
      width: 100%;
      margin-bottom: 15px;
      background: none;
      border-bottom: 1px solid rgba(216, 216, 216, 0.65);
      border-top: none;
      border-left: none;
      border-right: none;
      padding: 15px 0;
      font-size: 14px; }
      .offer-2 form input::placeholder {
        color: rgba(216, 216, 216, 0.65);
        font-family: monospace;
        letter-spacing: 3px; }
    .offer-2 form input:hover {
      border-bottom: 1px solid #bd833f; }
      .offer-2 form input:hover::placeholder {
        color: #fff; }
    .offer-2 form button {
      letter-spacing: 2px;
      font-size: 11px;
      background: none;
      max-width: 100%;
      margin-top: 40px; }

@media (max-width: 1025px) {
  .offer {
    padding: 105px 0px; }
    .offer .info {
      max-width: 400px; }
      .offer .info p {
        margin: 30px 0;
        font-size: 36px; }
        .offer .info p span {
          font-size: 36px; }
  .offer-2 {
    margin-top: 0px; }
    .offer-2 .book {
      max-width: 630px  !important; } }

@media (max-width: 768px) {
  .offer-2 {
    padding-bottom: 400px; }
    .offer-2 .title {
      text-align: left;
      margin-bottom: 30px; }
    .offer-2 form {
      margin: 0 auto 30px 0;
      max-width: 100%;
      flex: 0 0 100%; }
      .offer-2 form input {
        font-size: 13px;
        text-transform: uppercase; }
      .offer-2 form button {
        padding: 15px 0;
        font-size: 14px; }
    .offer-2 .book {
      max-width: 100% !important;
      margin-top: 350px; } }

@media (max-width: 576px) {
  .offer {
    background-position: right; }
    .offer .info {
      max-width: 100%; }
  .offer-2 {
    padding-bottom: 250px; } }

@media (max-width: 375px) {
  .offer .info p {
    font-size: 32px; }
  .offer .logo img {
    width: 100%; }
  .offer-2 {
    padding-bottom: 120px; }
    .offer-2 .title {
      font-size: 22px; } }

.instruments-cont {
  margin-top: 90px;
  padding: 60px 0px 130px; }
  .instruments-cont .title {
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 90px; }
  .instruments-cont a {
    text-decoration: none;
    color: #1c1c1c; }
  .instruments-cont .item {
    background-size: cover;
    text-align: center;
    transition: all 0.4s;
    padding: 30px; }
    .instruments-cont .item .info p {
      font-size: 30px;
      font-weight: bold;
      margin-top: 35px; }
    .instruments-cont .item .img {
      margin-bottom: 35px;
      height: 320px; }
      .instruments-cont .item .img img {
        width: 100%;
        height: 100%;
        object-fit: contain; }
    .instruments-cont .item .logo-company img {
      width: 100%; }
  .instruments-cont .item:hover {
    box-shadow: 0px 15px 30px rgba(185, 185, 185, 0.664); }
  .instruments-cont .item:nth-child(2) p {
    color: #bd833f; }

.instruments-cont .item:nth-child(1) .logo-company img {
  margin-top: auto;
  width: 100%; }

.artists {
  padding: 80px 0; }
  .artists .title {
    margin-bottom: 70px;
    font-size: 50px;
    font-weight: bold; }
    .artists .title span {
      color: #bd833f; }
  .artists .img-top {
    margin-bottom: 15px; }
  .artists .img-sm {
    height: calc(30% - 15px); }
  .artists .img-b {
    height: calc(70% - 35px); }
  .artists .img {
    cursor: pointer;
    overflow: hidden;
    position: relative; }
    .artists .img img {
      width: 100%;
      height: 100%; }
    .artists .img .info {
      transition: all 0.4s;
      position: absolute;
      bottom: -70px;
      left: 50%;
      transform: translate(-50%);
      z-index: 200;
      width: 53%; }
      .artists .img .info .text {
        color: #fff;
        text-decoration: none;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        display: block;
        margin-bottom: -10px; }
      .artists .img .info span {
        display: inline-block;
        height: 2px;
        width: 100%;
        background: #bd833f; }
  .artists .img-back::before {
    position: absolute;
    top: 0px;
    left: 0px;
    content: '';
    width: 100%;
    height: 100%;
    transition: all 0.4s;
    background: rgba(0, 0, 0, 0.664);
    opacity: 0;
    z-index: 100; }
  .artists .img-back:hover:before {
    opacity: 1; }
  .artists .img:hover .info {
    bottom: 30px; }

@media (min-width: 1699px) {
  .slider-item .info a, .offer .info a, .artists-main .button, .spirio-main .button {
    max-width: 250px; }
  footer {
    margin-top: 400px; }
  .offer-2 {
    padding-bottom: 230px; }
    .offer-2 .title {
      font-size: 50px;
      max-width: 700px; }
    .offer-2 .book {
      max-width: 1060px !important; }
  .slider-item .info .logo {
    max-width: 500px; }
  .slider-item .info .title {
    font-size: 64px; }
  .slider-item .info .title span {
    font-size: 32px; } }

@media (max-width: 1025px) {
  .instruments-cont {
    margin-top: 30px; }
  .slider-item .info a {
    margin: 30px auto 0px; }
  .custom-cont-dots {
    margin: -100px auto 0; } }

@media (max-width: 768px) {
  .first-block .slider-first .slider-item .info a {
    margin: 20px auto 0; }
  .first-block .slider-first .title {
    font-size: 25px;
    margin-top: 25px; }
    .first-block .slider-first .title span {
      font-size: 16px; }
  .first-block .slider-first .slider-item .info .logo {
    max-width: 200px; }
  .instruments-cont {
    margin: 70px 0 90px;
    padding: 0; }
    .instruments-cont .title {
      margin-bottom: 30px; }
  .instruments-cont .item {
    padding: 10px; }
  .instruments-cont .item .img {
    height: 200px; }
  .custom-cont-dots {
    margin-bottom: -90px; }
  .artists {
    padding: 50px 0; }
    .artists .title {
      margin-bottom: 40px; }
    .artists .col-sm-6 {
      flex: 0 0 100% !important;
      max-width: 100% !important; }
    .artists .img-sm {
      height: calc(35% - 15px); } }

@media (max-width: 576px) {
  .cont-slick {
    width: 100%; }
  .custom-cont-dots {
    margin: -40px auto 0; }
  .first-block .slider-first .title {
    font-size: 18px; }
  .slider-item .info {
    margin-top: 20px; }
  .first-block .row {
    flex-direction: column-reverse; }
  .first-block .col-sm-5 {
    flex: 0 0 100%;
    max-width: 100%; }
  .first-block .col-sm-7 {
    flex: 0 0 100%;
    max-width: 400px;
    margin: 0 auto; }
  .slider-item {
    padding: 55px 0px 70px; }
  .first-block .slider-first .title {
    font-size: 21px; }
  .instruments-cont .item {
    margin: 0 auto 50px; } }

@media (max-width: 425px) {
  .instruments-cont .title, .artists .title {
    font-size: 40px; } }

@media (max-width: 375px) {
  .instruments-cont .title, .artists .title {
    font-size: 30px; }
  .instruments-cont .item {
    margin: 0 auto 20px; } }

@media (max-width: 325px) {
  .instruments-cont .item {
    margin: 0 auto 10px; } }

.artists-main .button {
  max-width: 100%; }

.artists-main .gallery {
  display: flex;
  flex-wrap: wrap; }
  .artists-main .gallery .item {
    transition: .3s ease;
    text-decoration: none;
    overflow: hidden;
    position: relative; }
    .artists-main .gallery .item .text {
      z-index: 300;
      bottom: -140px;
      width: 100%;
      transition: all 0.4s;
      position: absolute;
      padding: 0px 35px; }
      .artists-main .gallery .item .text .name {
        font-size: 24px;
        text-transform: uppercase;
        font-weight: 700;
        text-align: center;
        color: #fff;
        margin-bottom: 20px; }
    .artists-main .gallery .item .img {
      height: 500px;
      min-height: 500px;
      max-height: 500px; }
      .artists-main .gallery .item .img img {
        width: 100%; }
  .artists-main .gallery .item::before {
    position: absolute;
    top: 0px;
    left: 0px;
    content: '';
    transition: all 0.4s;
    opacity: 1;
    width: 100%;
    height: 100%;
    z-index: 200;
    background: rgba(39, 39, 39, 0.63); }
  .artists-main .gallery .item:hover::before {
    opacity: 0; }
  .artists-main .gallery .item:hover .text {
    bottom: 40px; }
  .artists-main .gallery .item-active {
    width: 100px; }
  .artists-main .gallery .hover-img {
    filter: brightness(0.2); }

.artists-main .subtitle-gallery {
  color: #a1a1a1;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 30px; }

@media (min-width: 768px) {
  .col-md-6 {
    max-width: calc(50% - 10px); } }

@media (min-width: 1200px) {
  .col-xl-4 {
    max-width: calc(33.333333% - 10px); } }

@media (max-width: 770px) {
  .page-link {
    padding: 8px 15px !important; }
  .artists-main .item {
    margin: 5px 5px !important; }
  .artist-bread .breadcrumb li:nth-child(1) {
    margin-left: auto; }
  .artist-bread .breadcrumb li:nth-last-child(1) {
    margin-right: auto; } }

@media (max-width: 576px) {
  .artist-bread {
    margin-top: 80px; } }

@media (max-width: 475px) {
  .page-item img {
    width: 40px; } }

@media (max-width: 360px) {
  .artist-bread .breadcrumb li:nth-child(1) {
    margin-left: 0; }
  .artist-bread .breadcrumb li:nth-last-child(1) {
    margin-right: 0; } }

.main-brand .slider-first .slider-item {
  background-image: url(../images/csm_Boston_Piano_in_a_home_retouched_fma_b063c7b750.png);
  padding: 230px 0 230px; }
  .main-brand .slider-first .slider-item .title {
    font-size: 60px;
    color: #fff;
    text-transform: uppercase;
    max-width: 1000px; }
  .main-brand .slider-first .slider-item .subtitle {
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    max-width: 800px; }

.main-brand .instruments-gallery {
  overflow: hidden; }

.main-brand .slick-dots {
  width: 100%;
  max-width: 340px;
  margin-right: 100%; }
  .main-brand .slick-dots li {
    height: 4px;
    width: 60px; }

.main-brand .slick-dotted.slick-slider {
  margin-bottom: 170px; }

.main-brand .page-title {
  max-width: 1000px;
  line-height: 1.2; }

.main-brand .width-text {
  max-width: 1100px;
  margin: auto; }

.main-brand .instrument {
  position: relative; }
  .main-brand .instrument .img {
    width: 100%;
    overflow: hidden;
    position: relative; }
  .main-brand .instrument img {
    width: 100%;
    transition: transform var(--photoboxAnimationDuration, 2s) cubic-bezier(0.71, 0.05, 0.29, 0.9);
    will-change: transform;
    transform: scale(1) translate(0, 0); }
  .main-brand .instrument .img:before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.616);
    opacity: 0;
    transition: opacity var(--photoboxAnimationDuration, 2s) cubic-bezier(0.71, 0.05, 0.29, 0.9);
    will-change: opacity;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2; }
  .main-brand .instrument .text {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%);
    color: #fff;
    z-index: 205;
    max-width: 1000px;
    width: 100%;
    text-align: center; }
    .main-brand .instrument .text .title {
      text-decoration: none;
      color: #fff;
      font-size: 36px;
      text-transform: uppercase;
      transition: all 0.4s; }
    .main-brand .instrument .text .title:hover {
      color: #bd833f; }

.main-brand .article-title {
  font-size: 50px;
  text-align: center;
  margin: 80px auto 20px; }

.main-brand .col-md-4 .text {
  bottom: 20px;
  top: 60%;
  max-width: 400px; }

.main-brand .instrument:hover .img:before {
  opacity: 1; }

.main-brand .instrument:hover img {
  transform: scale(1.2) translate(4%, 4%); }

@media (min-width: 1440px) {
  .main-brand .instrument .text {
    bottom: 0;
    top: 80%; }
    .main-brand .instrument .text .title {
      font-size: 32px; }
  .main-brand .col-md-4 .text {
    max-width: 600px; } }

@media (min-width: 1700px) {
  .main-brand .instrument .text {
    bottom: 30px; } }

@media (max-width: 1440px) {
  .main-brand .instrument .text {
    bottom: 0;
    top: 80%;
    padding: 0px 20px; }
  .main-brand .col-md-4 .text {
    max-width: 600px; } }

@media (max-width: 1025px) {
  .main-brand .instrument .text {
    padding: 10px;
    top: 70%; }
    .main-brand .instrument .text .title {
      font-size: 27px; }
    .main-brand .instrument .text p {
      font-size: 14px; } }

@media (max-width: 769px) {
  .main-brand .slider-first .slider-item {
    background-image: url(../images/csm_Boston_Piano_in_a_home_retouched_fma_b063c7b750.png);
    padding: 160px 0 160px; }
    .main-brand .slider-first .slider-item .title {
      font-size: 40px; }
  .main-brand .instrument .text {
    padding: 10px;
    top: 65%; }
    .main-brand .instrument .text .title {
      font-size: 22px; }
    .main-brand .instrument .text p {
      font-size: 12px; }
  .main-brand .article-title {
    font-size: 40px; }
  .article {
    line-height: 2rem !important; }
  .instruments-bread .breadcrumb li:nth-last-child(1) {
    margin-right: auto; }
  .instruments-bread .breadcrumb li:nth-child(1) {
    margin-left: auto; } }

@media (max-width: 576px) {
  .main-brand .slick-dotted.slick-slider {
    margin-bottom: 70px; }
  .main-brand .instruments-bread {
    margin-top: 70px; }
  .main-brand .instruments-gallery {
    overflow: hidden; }
    .main-brand .instruments-gallery .text {
      text-shadow: 0 0 10px rgba(17, 17, 17, 0.952); }
    .main-brand .instruments-gallery .col-md-4 {
      padding: .8rem 0 !important;
      max-height: 250px;
      overflow: hidden; }
      .main-brand .instruments-gallery .col-md-4 .img {
        max-height: 250px; }
    .main-brand .instruments-gallery .col-12 {
      padding: .8rem 0 !important; }
      .main-brand .instruments-gallery .col-12 .instrument {
        height: 250px; }
        .main-brand .instruments-gallery .col-12 .instrument .img, .main-brand .instruments-gallery .col-12 .instrument img {
          height: 100%;
          width: auto; }
  .main-brand .page-title {
    font-size: 40px; }
  .main-brand .article {
    margin-bottom: 50px; }
  .main-brand .article-title {
    margin: 40px auto 20px; } }

@media (max-width: 576px) {
  .instruments-bread {
    margin-top: 70px; }
  .main-brand .page-title {
    font-size: 40px; }
  .main-brand .instruments-gallery .col-12 .instrument {
    height: 250px; }
    .main-brand .instruments-gallery .col-12 .instrument .img, .main-brand .instruments-gallery .col-12 .instrument img {
      height: 100%;
      width: auto; } }

@media (max-width: 475px) {
  .main-brand .slider-item {
    padding: 120px 0 120px; }
    .main-brand .slider-item .title {
      font-size: 30px; }
  .main-brand .article-title {
    font-size: 30px; } }

@media (max-width: 475px) {
  .main-brand .page-title {
    font-size: 24px; }
  .main-brand .slider-item .title {
    font-size: 24px; }
  .main-brand .article-title {
    font-size: 21px; } }

.card-main-artist {
  text-align: center; }
  .card-main-artist .breadcrumb {
    margin-top: 30px; }
  .card-main-artist .description {
    margin-top: 90px;
    font-size: 22px; }
  .card-main-artist .name-artist {
    margin: 40px auto 350px;
    max-width: 500px;
    font-size: 50px;
    padding-bottom: 30px;
    border-bottom: 1px solid #c8c8c8; }

.photo-artist {
  max-height: 800px;
  overflow: hidden; }
  .photo-artist img {
    height: 100%;
    object-fit: cover;
    object-position: center; }

@media (min-width: 1700px) {
  .card-main-artist .description {
    max-width: 1300px;
    font-size: 28px;
    margin: 90px auto 0; } }

@media (max-width: 769px) {
  .card-main-artist .description {
    margin: 40px auto 0; }
  .card-main-artist .name-artist {
    margin: 40px auto 250px;
    font-size: 40px; } }

@media (max-width: 577px) {
  .card-main-artist .description {
    font-size: 18px; }
  .card-main-artist .name-artist {
    margin: 40px auto 150px; }
  .card-main-artist .instruments-bread {
    margin-top: 30px; } }

.product-main .photos .big-img {
  max-height: 100%;
  width: 100%;
  overflow: hidden; }
  .product-main .photos .big-img img {
    height: 100%;
    width: 100%; }

.product-main .photos .img-thumbs.row {
  margin: 10px 0px; }
  .product-main .photos .img-thumbs.row .img {
    display: inline-block;
    max-width: 40px;
    max-height: 40px;
    margin-right: 5px;
    margin-bottom: 5px;
    overflow: hidden;
    cursor: pointer; }
    .product-main .photos .img-thumbs.row .img img {
      width: 100%; }

.product-main .description {
  margin-top: 40px;
  color: #8d8d8d;
  font-family: 'hel';
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px; }
  .product-main .description span {
    color: #1c1c1c; }

.product-main .product-date {
  font-family: sans-serif;
  font-weight: 700;
  font-size: 14px; }

.product-main .info .text {
  font-family: 'pro'; }

.product-main .info .title {
  font-family: 'Hel';
  font-size: 50px; }

.product-main .info .subtitle {
  margin-bottom: 35px; }

.product-main .info .description-product {
  font-weight: bold; }

.product-main .info ul {
  margin: 10px 0;
  padding-left: 15px;
  list-style-image: url(../images/circle.png); }
  .product-main .info ul li {
    padding: 4px 0; }

.product-main .info .strip {
  display: inline-block;
  height: 1px;
  width: 100%;
  background: #c8c8c8;
  margin-bottom: 60px; }

.product-main .info .button {
  font-family: 'Hel';
  background: #bd833f;
  max-width: 300px;
  margin-top: 60px;
  font-size: 17px;
  padding: 15px 0; }
  .product-main .info .button:hover {
    background: none;
    color: #1c1c1c; }

.product-main .product-text {
  margin: 80px 0 200px;
  text-align: center; }
  .product-main .product-text .title {
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 30px; }
  .product-main .product-text p {
    line-height: 2rem; }
  .product-main .product-text .strip {
    display: inline-block;
    height: 1px;
    width: 100%;
    background: #c8c8c8;
    margin: 35px 50%;
    transform: translate(-50%);
    text-align: center;
    max-width: 650px; }

@media (max-width: 768px) {
  .product-main .photos .big-img img {
    width: 100%; } }

@media (max-width: 766px) {
  .product-main .info .title {
    margin-top: 40px; }
  .product-main .product-text {
    margin: 40px auto 80px; } }

@media (max-width: 576px) {
  .product-main .product-text {
    margin: 20px auto 30px; } }

@media (max-width: 425px) {
  .product-main .product-text {
    text-align: left; }
  .product-main .product-text .title {
    font-size: 27px; } }

.catalog-main .article {
  margin-bottom: 60px; }

.catalog-main .button {
  max-width: 650px;
  margin: auto;
  background: #bd833f; }
  .catalog-main .button:hover {
    background: none;
    color: #1c1c1c; }

.catalog-main .catalog-title {
  font-size: 50px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 90px; }

.catalog-main .catalog-subtitle {
  text-align: center;
  font-size: 18px;
  margin-top: -5px;
  margin-bottom: 30px; }

.catalog-main .catalog-products .item {
  border: 2px solid #d2d2d2;
  padding: 15px;
  text-align: center;
  transition: all 0.4s; }
  .catalog-main .catalog-products .item:hover {
    border: 2px solid #d2d2d200;
    box-shadow: 0 0 50px rgba(90, 90, 90, 0.315); }
  .catalog-main .catalog-products .item .img {
    padding: 20px; }
  .catalog-main .catalog-products .item .info {
    margin-top: 20px;
    padding-bottom: 20px; }
    .catalog-main .catalog-products .item .info .title {
      text-transform: uppercase;
      font-size: 24px; }
    .catalog-main .catalog-products .item .info .description {
      font-size: 14px;
      margin: 30px 0;
      color: #8a8a8a; }
    .catalog-main .catalog-products .item .info a {
      text-transform: uppercase;
      color: #bd833f;
      transition: all 0.4s; }
      .catalog-main .catalog-products .item .info a img {
        margin-left: 5px; }
    .catalog-main .catalog-products .item .info a:hover {
      text-decoration: none;
      color: #1c1c1c; }

.catalog-main .catalog-products .item img {
  transition: all 0.4s; }

.catalog-main .catalog-products .item:hover img {
  transform: scale(1.1); }

@media (max-width: 770px) {
  .pag {
    margin: 40px auto 150px; } }

@media (max-width: 576px) {
  .page-title {
    font-size: 40px;
    margin-bottom: 30px; }
  .catalog-main .button {
    padding: 15px 0;
    font-size: 14px; } }

@media (max-width: 425px) {
  .pag {
    margin: 40px auto 70px; } }

@media (max-width: 375px) {
  .catalog-main .button {
    font-size: 12px; } }

.news-main .page-title {
  margin-bottom: 20px; }

.news-main .button {
  max-width: 650px;
  background: #bd833f; }
  .news-main .button:hover {
    background: none;
    color: #1c1c1c; }

.news-main .catalog-products .item {
  height: 100%;
  padding: 20px 10px;
  text-align: left;
  transition: all 0.4s; }
  .news-main .catalog-products .item:hover {
    box-shadow: 0 0 50px rgba(90, 90, 90, 0.315); }
  .news-main .catalog-products .item .info {
    margin-top: 20px;
    padding-bottom: 20px; }
    .news-main .catalog-products .item .info .title {
      text-transform: uppercase;
      font-size: 18px;
      height: 3rem; }
    .news-main .catalog-products .item .info .description {
      font-weight: bold;
      margin: 30px 0;
      font-family: 'Minion'; }
    .news-main .catalog-products .item .info a {
      display: flex;
      align-items: center;
      text-transform: uppercase;
      color: #bd833f;
      transition: all 0.4s; }
      .news-main .catalog-products .item .info a img {
        margin-left: 25px; }
    .news-main .catalog-products .item .info a:hover {
      text-decoration: none;
      color: #1c1c1c; }

.news-main .catalog-products .item .img {
  max-height: 400px;
  overflow: hidden; }
  .news-main .catalog-products .item .img img {
    width: 100%; }

@media (max-width: 770px) {
  .pag {
    margin: 40px auto 150px; }
  .col-md-6 {
    max-width: 100%;
    flex: 0 0 100%; } }

@media (max-width: 576px) {
  .page-title {
    font-size: 40px;
    margin-bottom: 30px; }
  .catalog-main .button {
    padding: 15px 0;
    font-size: 14px; } }

@media (max-width: 425px) {
  .pag {
    margin: 40px auto 70px; } }

@media (max-width: 375px) {
  .catalog-main .button {
    font-size: 12px; } }

.instruments-main .page-title {
  font-size: 60px;
  margin: -30px auto 10px; }

.instruments-main .article {
  margin-bottom: 80px; }

.instruments-main .width-text {
  max-width: 1100px;
  margin: auto; }

.instruments-main .instrument {
  position: relative; }
  .instruments-main .instrument .img {
    width: 100%;
    overflow: hidden;
    position: relative; }
  .instruments-main .instrument img {
    width: 100%;
    transition: transform var(--photoboxAnimationDuration, 2s) cubic-bezier(0.71, 0.05, 0.29, 0.9);
    will-change: transform;
    transform: scale(1) translate(0, 0); }
  .instruments-main .instrument .img:before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.616);
    opacity: 0;
    transition: opacity var(--photoboxAnimationDuration, 2s) cubic-bezier(0.71, 0.05, 0.29, 0.9);
    will-change: opacity;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2; }
  .instruments-main .instrument .text {
    position: absolute;
    bottom: 70px;
    left: 50%;
    transform: translate(-50%);
    color: #fff;
    z-index: 205;
    max-width: 1000px;
    width: 100%;
    text-align: center;
    font-size: 30px; }
    .instruments-main .instrument .text .title {
      text-decoration: none;
      color: #fff;
      font-size: 36px;
      text-transform: uppercase;
      transition: all 0.4s; }
    .instruments-main .instrument .text .title:hover {
      color: #bd833f; }
    .instruments-main .instrument .text p {
      font-size: 16px;
      font-family: 'Minion'; }

.instruments-main .article-title {
  font-size: 50px;
  text-align: center;
  margin: 80px auto 20px; }

.instruments-main .col-md-4 .text {
  bottom: 20px;
  top: 60%;
  max-width: 400px; }

.instruments-main .instrument:hover .img:before {
  opacity: 1; }

.instruments-main .instrument:hover img {
  transform: scale(1.2) translate(4%, 4%); }

.instruments-main .blockquote-comment {
  max-width: 670px;
  text-align: center;
  margin: 90px auto 170px;
  padding: 40px;
  border-top: 1px solid #c8c8c8;
  border-bottom: 1px solid #c8c8c8; }
  .instruments-main .blockquote-comment .comment {
    font-family: 'pro';
    font-size: 29px; }
  .instruments-main .blockquote-comment .info {
    margin-top: 30px; }
    .instruments-main .blockquote-comment .info .author {
      font-size: 36px; }
    .instruments-main .blockquote-comment .info .text {
      font-family: 'pro'; }

@media (min-width: 1440px) {
  .instruments-main .instrument .text {
    bottom: 0;
    top: 70%; }
    .instruments-main .instrument .text .title {
      font-size: 32px; }
  .instruments-main .col-md-4 .text {
    max-width: 600px; } }

@media (min-width: 1700px) {
  .instruments-main .instrument .text {
    bottom: 150px; } }

@media (max-width: 1025px) {
  .instruments-main .instrument .text {
    padding: 10px;
    top: 50%; }
    .instruments-main .instrument .text .title {
      font-size: 27px; }
    .instruments-main .instrument .text p {
      font-size: 14px; } }

@media (max-width: 769px) {
  .instruments-main .instrument .text {
    padding: 10px;
    top: 40%; }
    .instruments-main .instrument .text .title {
      font-size: 22px; }
    .instruments-main .instrument .text p {
      font-size: 12px; }
  .instruments-main .article-title {
    font-size: 40px; }
  .instruments-main .blockquote-comment .comment {
    font-size: 21px; }
  .instruments-main .blockquote-comment .info {
    margin-top: 30px; }
    .instruments-main .blockquote-comment .info .author {
      font-size: 36px; }
  .article {
    line-height: 2rem !important; }
  .instruments-bread .breadcrumb li:nth-last-child(1) {
    margin-right: auto; }
  .instruments-bread .breadcrumb li:nth-child(1) {
    margin-left: auto; } }

@media (max-width: 576px) {
  .instruments-main .instruments-gallery {
    overflow: hidden; }
    .instruments-main .instruments-gallery .text {
      text-shadow: 0 0 10px rgba(17, 17, 17, 0.952); }
    .instruments-main .instruments-gallery .col-md-4 {
      max-height: 250px;
      overflow: hidden; }
      .instruments-main .instruments-gallery .col-md-4 .img {
        max-height: 250px; }
  .instruments-main .blockquote-comment {
    margin: 40px auto 70px !important; } }

@media (max-width: 576px) {
  .instruments-bread {
    margin-top: 70px; }
  .instruments-main .page-title {
    font-size: 40px; }
  .instruments-main .instruments-gallery .col-12 .instrument {
    height: 250px; }
    .instruments-main .instruments-gallery .col-12 .instrument .img, .instruments-main .instruments-gallery .col-12 .instrument img {
      height: 100%;
      width: auto; }
    .instruments-main .instruments-gallery .col-12 .instrument .text {
      padding: 10px 20px; } }

@media (max-width: 475px) {
  .instruments-main .article-title {
    font-size: 30px; }
  .instruments-main .blockquote-comment .info .author {
    font-size: 21px; }
  .instruments-main .instrument .text {
    top: 25%; } }

@media (max-width: 360px) {
  .instruments-main .instrument .text {
    top: 20%;
    padding: 10px 20px; }
  .instruments-main .blockquote-comment .comment {
    font-size: 18px; } }

.investments-main .article-title {
  margin-top: 70px; }

.investments-main .article {
  margin-bottom: 120px; }

.investments-main .button {
  margin: 80px auto 0px;
  max-width: 335px;
  font-weight: bolder;
  background: #bd833f;
  font-family: 'hel';
  margin-bottom: 2rem; }

@media (max-width: 992px) {
  .investments-main .page-title {
    font-size: 27px; }
  .investments-main .article {
    margin-bottom: 60px;
    line-height: 2rem; } }

@media (max-width: 770px) {
  .investments-bread {
    margin-top: 70px; } }

.news-main .page-title {
  text-transform: uppercase;
  max-width: 1000px; }

.news-main .news-photo {
  text-align: center; }
  .news-main .news-photo .description {
    margin: 20px 0;
    color: #8a8a8a; }
  .news-main .news-photo .img {
    max-height: 400px;
    overflow: hidden; }

@media (max-width: 1024px) {
  .news-main {
    margin-bottom: 90px; }
    .news-main .page-title {
      font-size: 30px; } }

@media (max-width: 769px) {
  .news-main .page-title {
    font-size: 30px; }
  .news-main .article {
    margin-bottom: 70px; } }

@media (max-width: 567px) {
  .news-main .page-title {
    font-size: 21px; }
  .news-main .instruments-bread, .news-main .breadcrumb {
    margin-top: 30px;
    margin-bottom: 20px; } }

@media (max-width: 567px) {
  .news-main .catalog-products .item .img img {
    min-height: auto; } }

.timer {
  margin-bottom: 300px;
  text-align: center; }
  .timer .countdown-number {
    display: inline-block;
    font-size: 200px;
    color: #a1a1a1; }
    .timer .countdown-number:nth-child(1) {
      color: #bd833f; }

.description-shou-rum {
  text-align: center;
  font-size: 24px;
  margin-top: 200px;
  margin-bottom: -50px; }

@media (max-width: 768px) {
  .timer {
    margin-bottom: 100px; }
    .timer .countdown-number {
      font-size: 60px; }
  .description-shou-rum {
    font-size: 18px;
    margin-top: 50px;
    margin-bottom: 0px; }
  .timer-bread li:nth-child(1) {
    margin-left: auto; }
  .timer-bread li:nth-last-child(1) {
    margin-right: auto; } }

@media (max-width: 567px) {
  .timer-bread {
    margin-top: 70px; } }

@media (max-width: 375px) {
  .timer-bread li:nth-child(1) {
    margin-left: 0; }
  .timer-bread li:nth-last-child(1) {
    margin-right: 0; } }

.spirio-main .slider-first .slider-item {
  padding: 270px 0;
  min-height: 720px;
  background-position: center;
  background-size: cover; }
  .spirio-main .slider-first .slider-item .title {
    font-size: 60px;
    color: #fff;
    text-transform: uppercase;
    max-width: 1000px; }

.spirio-main .slick-dots {
  width: 100%;
  max-width: 340px;
  margin-right: 100%; }
  .spirio-main .slick-dots li {
    height: 4px;
    width: 60px; }

.spirio-main .slick-dotted.slick-slider {
  margin-bottom: 170px; }

.spirio-main .page-title {
  max-width: 1000px;
  line-height: 1.2; }

.spirio-main .button {
  margin: 80px auto 0px;
  max-width: 335px;
  font-weight: bolder;
  background: #bd833f;
  font-family: 'hel'; }

.spirio-main .button:hover {
  background: none;
  color: #1c1c1c; }

.spirio-main .gallery-photo {
  margin: 0 -5px 120px; }
  .spirio-main .gallery-photo img {
    width: 100%;
    height: 100%; }
  .spirio-main .gallery-photo .gallery-photo-item {
    overflow: hidden; }

.spirio-main .photo-fon {
  background-image: url(../images/fon3.png);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 700px;
  background-position: center; }

.article {
  text-align: center;
  font-family: 'Pro';
  margin-bottom: 120px;
  line-height: 2.5rem; }

@media (max-width: 1025px) {
  .spirio-main .slider-first .slider-item {
    padding: 230px 0; }
    .spirio-main .slider-first .slider-item .title {
      font-size: 50px;
      color: #fff;
      text-transform: uppercase;
      max-width: 1000px; }
  .spirio-main .photo-fon {
    margin-bottom: 0px;
    min-height: 400px; } }

@media (max-width: 770px) {
  .spirio-main .slider-first .slider-item {
    padding: 130px 0;
    min-height: 500px; }
    .spirio-main .slider-first .slider-item .title {
      font-size: 40px;
      max-width: 700px; }
  .spirio-main .cont-slick {
    width: 50%; }
  .spirio-main .slick-dots {
    max-width: 300px; }
  .spirio-main .slick-dotted.slick-slider {
    margin-bottom: 70px; }
  .spirio-main .custom-cont-dots {
    margin: -50px auto 0; } }

@media (max-width: 576px) {
  .spirio-main .cont-slick {
    width: 100%; }
  .spirio-main .gallery-photo {
    margin: 0 -10px 60px; }
  .spirio-main .page-title {
    font-size: 35px; }
  .spirio-main .gallery-photo .gallery-photo-item {
    max-height: 300px; }
    .spirio-main .gallery-photo .gallery-photo-item img {
      height: auto; }
  .spirio-main .article {
    line-height: 2rem; } }

@media (max-width: 425px) {
  .spirio-main .slider-first .slider-item {
    min-height: 400px; }
    .spirio-main .slider-first .slider-item .title {
      font-size: 30px; }
  .spirio-main .article {
    line-height: 1.5rem; }
  .spirio-main .slick-dots {
    max-width: 220px; }
    .spirio-main .slick-dots li {
      width: 40px;
      margin-right: 10px; } }

@media (max-width: 360px) {
  .spirio-main .page-title {
    font-size: 24px; }
  .spirio-main .photo-fon {
    min-height: 200px; } }

@media (max-width: 380px) {
  .spirio-main .slider-first .slider-item {
    min-height: 400px;
    padding: 100px 0; } }

.catalog-instruments .instrument-first {
  height: 600px !important; }

.catalog-instruments .instrument-image {
  height: 600px !important; }
  .catalog-instruments .instrument-image img {
    width: 100% !important;
    height: 100%;
    object-fit: cover;
    object-position: bottom; }

.catalog-instruments .instrument-content {
  overflow: hidden;
  text-align: center;
  position: relative;
  box-shadow: 0 0 0.8rem #969696c9;
  height: 320px;
  transition: all 0.4s; }
  .catalog-instruments .instrument-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform var(--photoboxAnimationDuration, 2s) cubic-bezier(0.71, 0.05, 0.29, 0.9); }
  .catalog-instruments .instrument-content .instrument-text {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    max-height: 470px;
    transition: all 1s; }
    .catalog-instruments .instrument-content .instrument-text p {
      text-decoration: none;
      color: #000;
      font-size: 36px;
      text-transform: uppercase; }
    .catalog-instruments .instrument-content .instrument-text a:hover {
      color: #fff; }

.catalog-instruments .instrument-content:hover {
  transition: all 0.4s; }
  .catalog-instruments .instrument-content:hover img {
    transform: scale(1.2); }
  .catalog-instruments .instrument-content:hover .instrument-text {
    transition: all 1s ease;
    background-color: #000;
    opacity: .6; }
    .catalog-instruments .instrument-content:hover .instrument-text p {
      color: #fff; }

.catalog-instruments .instrument-boston {
  height: 450px !important; }

.catalog-instruments .instrument-content-boston {
  height: 420px; }
  .catalog-instruments .instrument-content-boston img {
    object-fit: contain;
    width: 80%; }

.catalog-instruments .instrument-essex {
  height: 340px; }
  .catalog-instruments .instrument-essex img {
    object-fit: contain;
    width: 75%; }

.catalog-instruments .instrument-spirio {
  height: 515px !important; }

.instrument-content.instrument-first.instrument-boston img {
  object-fit: contain !important; }

.catalog-instruments .col-xl-12 .instrument-content img {
  object-fit: cover; }

.catalog-instruments .col-xl-6 .instrument-content img {
  object-fit: cover;
  object-position: center; }

@media (max-width: 1920px) {
  .catalog-instruments .col-xl-4 .instrument-image-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom; } }

@media (max-width: 1440px) {
  .catalog-instruments .col-xl-4 .instrument-image-content img {
    width: auto !important;
    height: 100%; }
  .catalog-instruments .col-xl-6 .instrument-content img {
    height: auto !important; } }

@media (max-width: 1024px) {
  .catalog-instruments .col-xl-4 .instrument-image-content img {
    width: 100% !important;
    object-position: center; }
  .catalog-instruments .col-xl-6 .instrument-content img {
    width: 100%;
    height: 100% !important; } }

@media (max-width: 425px) {
  .catalog-instruments .instrument-image, .catalog-instruments .instrument-spirio {
    height: 300px !important; } }

body {
  font-family: 'Hel';
  overflow-x: hidden;
  background: #ececec; }

ul, ol {
  list-style-type: none; }

* {
  outline: none;
  letter-spacing: 1.8px; }

@media (min-width: 1700px) {
  .container {
    max-width: 1500px; } }
