@font-face {
  font-family: 'Minion';
  src: url("../fonts/MinionPro-Regular.eot");
  src: url("../fonts/MinionPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/MinionPro-Regular.ttf") format("ttf"), url("../fonts/MinionPro-Regular.woff") format("woff");
  font-style: normal; }

@font-face {
  font-family: 'Hel';
  src: url("../fonts/HelveticaNeueBoldCondensed.eot");
  src: url("../fonts/HelveticaNeueBoldCondensed.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueBoldCondensed.ttf") format("ttf"), url("../fonts/HelveticaNeueBoldCondensed.woff") format("woff");
  font-style: normal; }
