footer {
  margin-top: 250px;
  background: #0d0d0d;
  padding: 40px 0;
  ul {
    margin: 0px;
    padding: 0px;
    li {
      display: inline-block;
      vertical-align: middle;
      img {
        max-width: 50px;
      }
      a {
        text-transform: uppercase;
        text-decoration: none;
        color: #a1a1a1;
        transition: all.4s;
        font-size: 11px;
        padding: 0px 13px;
        letter-spacing: 0.05em;
        font-weight: bold;
      }
      a:hover {
        text-decoration: none;
        color: $yellow;
      }
    }
    .link-lux {
      a {
        color: #a1a1a1;
      }
      font-size: 12px;
      font-weight: 400;
    }
  }
  .text {
    color: #a1a1a1c5;
    font-size: 11px;
    text-align: center;
    span {
      color: $yellow;
      opacity: 0.4;
    }
  }
  .col-md-3 {
    font-family: "Minion";
  }
}

@media (max-width: 1025px) {
  footer {
    margin-top: 200px;
    ul li a {
      padding: 0 10px;
    }
    .row {
      align-items: center;
    }
  }
}
@media (max-width: 768px) {
  footer {
    margin-top: 260px;
    ul {
      max-width: 660px !important;
      flex: 0 0 100% !important;
      margin: 0 auto;
    }
    .col-md-3 {
      max-width: 500px !important;
      flex: 0 0 100% !important;
      margin: 30px auto 0;
    }
  }
}

@media (max-width: 576px) {
  footer {
    margin-top: 220px;
    ul {
      column-count: 2;
      li {
        display: block;
        text-align: center;
        margin: 5px 0;
        a {
          font-size: 13px;
        }
      }
    }
  }
}

@media (max-width: 425px) {
  footer {
    margin-top: 130px;
  }
}

@media (max-width: 375px) {
  footer {
    margin-top: 220px;
    .row {
      margin: 0;
    }
  }
}

@media (max-width: 325px) {
  footer {
    margin-top: 170px;
  }
}
