header{
    .row{
        align-items: center;
        margin: 0;
    }
    background: #0d0d0d;
    position: relative;
    padding: 30px 0;
    box-shadow: 0 30px 60px rgba(36, 36, 36, 0.513);
    ul{
        margin: 0px;
        padding: 0px;
        li{
            display: inline-block;
            vertical-align: middle;
            img{
                max-width: 50px;
            }
        a{
                text-transform: uppercase;
                text-decoration: none;
                color: #a1a1a1;
                transition: all.4s;
                font-size: 11px;
                padding: 0px 13px;
                font-weight: bold;
            }
            a:hover{
                text-decoration: none;
                color: $yellow;
            }
    }
    } 
    .soc-net{
            display: flex;
            margin-left: auto;
            max-width: 200px;
    }

    .soc-net a{
        padding: 0px 15px;
        svg{
            fill: #a1a1a1;
            transition: all.4s;
        }
        svg:hover{
            fill: $yellow;
        }
    }
}
.canvi-navbar{
    background-color: #fff;
    transition:1.5s cubic-bezier(0, 0.8, 1, 1.04) !important;
    .canvi-header-logo{
        text-align: center;
        // padding-top: 2rem;
        img{
            width: 11rem;
        }
    }
    .canvi-slider{
        transition: all .5s ease;
        text-align: center;
        ul{
            li{
                list-style-type: none;
                margin-top: .5rem;
                &:first-child{
                    margin-top: 0;
                }
                a{
                    color: #000;
                    font-size: large;
                    text-transform: lowercase;
                    &:hover{
                        color: #bd833f;
                        text-decoration: none;
                    }
                }
            }
        }
        
        .item{
            text-align: center;
            margin-top: 1rem;
            padding: 1rem;
            transition: .7s;
            img{
                width: 75%;
                transition: all linear .3s;
                &:hover{
                    transform: scale(1.1);
                }
            }
            .text{
                color: #000;
                margin-top: 1rem;
            }
            a:hover{
                text-decoration: none;
            }
            &:hover .title{
                color: #BD833F;
            }
                  
        }
    }
}
.canvi-content{
    transition:1.5s cubic-bezier(0, 0.8, 1, 1.04) !important;
}
.js-canvi-open-button--left{
    width: 2rem;
    height: 1.5rem;
    background-color: transparent;
    span{
        position: absolute;
        width: 1.5rem;
        height: 2.5px;
        background-color: #BD833F;
        top: 54%;
        left: 10%;
        &:after{
            content: "";
            position: absolute;
            width: 1.5rem;
            height: 2.5px;
            background-color: #BD833F;
            top: -7px; 
        }
        &:before{
            content: "";
            position: absolute;
            width: 1.5rem;
            height: 2.5px;
            background-color: #BD833F;
            top: 7px; 
        }
    }
}

.js-canvi-open-button--left::before{
    top: 0;
    transform: rotate(-45deg);
}

.js-canvi-open-button--left::after{
    top: 0;
    transform: rotate(45deg);
    
}   
@media (max-width:1025px){
    header{
        .row{
            margin-left: 25px;
        }
        .col-lg-10{
            max-width: 810px;
            margin: 0 auto;
            flex: 100%;
            max-width: 100%;
        }
        .soc-net{
            display: none;
        }
    }
}

@media (max-width:768px){
    header{
        padding: 0;
        ul{
            display: none;
        }
    }
}






