.open-button-mobile-menu{
    display: none;
    position: relative;
    height: 20px;
    width: 40px;
    z-index: 600;
}
@media (max-width:768px){
    .open-button-mobile-menu{
        display: block;
    }
}

.mobile-menu{
    position: fixed;
    top: 0;
    padding: 25px;
    height: 100vh;
    left: -100%;
    transition: linear .8s;
    max-width: 300px;
    width: 100%;
    .mob-menu-header{
        display: flex;
        align-items: center;
    }
    .close-mobile-menu{
        display: block;
        width: 30px;
        height: 30px;;
        position: relative;
        span{
            position: absolute;
            background: $yellow;
            transition: all.4s;
            height: 2px;
            width: 30px;
            top: 10px;
        }
        span:nth-child(1){
            transform: rotate(45deg);
        }
        span:nth-last-child(1){
            transform: rotate(135deg);
        }
    }
    ul{
        padding: 0;
        margin: 30px 0;
        li{
            padding: 8px 0;
            a{
                padding: 8px 0;
                color: $yellow;
                text-decoration: none;
                transition: all.4s;
                &:hover{
                    color: $dark;
                }
            }
        }
    }
    .logo{
        width: 50px;
        margin-left: auto;
    }
    .soc-net{
        display: flex;
}

.soc-net a{
    padding: 0px 15px;
    svg{
        fill: #a1a1a1;
        transition: all.4s;
    }
    svg:hover{
        fill: $yellow;
    }
}
.soc-net a:nth-child(1){
    padding-left: 0;
}
.soc-net a:nth-child(3){
    padding-right: 0;
}
}


.open-button-mobile-menu span {
    position: absolute;
    background: $yellow;
    transition: all.4s;
    height: 2px;
}

.open-button-mobile-menu span:nth-child(1){
top: 0;
width: 32px;
}
.open-button-mobile-menu span:nth-child(2){
top: 10px;
width: 40px;
}

.open-button-mobile-menu span:nth-last-child(1){
width: 22px;
top: 20px;
}



.mobile-menu.nav-open{
    background: #ececec;
    left: 0;
    z-index: 10000;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.226);
}


.canvi-btn{
    cursor: pointer;
    position: absolute;
    height: 20px;
    width: 40px;
    top: 30px;
    left: 5px;
    z-index: 502;
}
.pag{
    margin: 40px auto 250px;
    text-align: center;
    .strip{
        height: 2px;
        display: inline-block;
        max-width: 500px;
        width: 100%;
        background: #a1a1a183;
    }
    .pagination{
        margin: 10px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        .prev{
            cursor: pointer;
            &:hover{
                color: #bd833f;
            }
        }
        li:nth-child(1) a img{
            transform: rotate(180deg);
            &:hover{
                opacity: .7;
            }
        }
        li:hover{
            background: none;
            &:hover{
                opacity: .7;
            }
        }
        .page-link.active{
            color: $yellow;
        }
        .page-link{
            padding: 8px 30px;
            border: none;
            outline: none;
            color: #a1a1a1;
            transition: all.2s;
            font-weight: 700;
            font-size: 22px;
            background: none;
            &:hover{
                background: none;
                color: $yellow;
            }
        }
    }
} 

@media(max-width:1300px){}



.slider-menu-main .item{
    .img{
        overflow: hidden;
        img{
            width: 100%;
        }
    } 
    .text{
        text-align: center;
        .title{
            font-weight: bold; 
        }
        .subtitle{
            font-size: 14px;
            color: #8a8a8a;
        }
    }
}

.slider-menu-nav {
    max-width: 100px;
    margin: 20px auto;
    img{
        width: 100%;
    }
}

.slick-arrow{
    display: block;
    padding: 15px;
    margin: auto;
}

.page-title{
    font-size: 50px;
    font-weight: bold;
    color: $dark;
    text-align: center;
    margin-bottom: 40px;
}

.breadcrumb{
    background: none;
    margin-top: 45px;
    margin-bottom: 30px;
    padding: 0;
    font-family: 'Pro';
    li{
        font-size: 14px;
    }
    li:nth-child(1){
        margin-left: auto;
    }
    li:nth-last-child(1){
        margin-right: auto;
    }
    li a{
        color: #787878; 
    }
    .breadcrumb-item.active{ 
        color: #494949 !important; 
    }
    .breadcrumb-item{
        position: relative;
        margin-right: 40px;
    }
    .breadcrumb-item + .breadcrumb-item::before{
        content: '';
        background-image: url(../images/right-arrow.png);
        height: 12px;
        width: 5px;
        position: absolute;
        background-repeat: no-repeat;
        background-size: contain;
        bottom: 6px;
        left: -20px;
    }
}

.right-fixed-panel{
    position: fixed;
    left: 100%;
    top: 40%;
    transform: translate(-50%);
    z-index: 300;
    .info-panel{
        transition: all.4s;
        width: max-content;
        display: flex;
        align-items: center;
        position: absolute;
        right: -179px;
        height: 40px;
        img{
            margin-right: .6rem;
            width: 20px;
        }
        a{
            color:#000;
        }
        cursor: pointer;
        background: #0d0d0d;
        padding-left: 10px;
        &:nth-child(2){
            top: 3rem;
            right: -297px;
        }
        &:nth-child(3){
            top: 6rem;
            right: -254px;
        }
        &:nth-child(4){
            top: 9rem;
            right: -160px;
        }
        &:nth-child(5){
            top: 12rem;
            right: -152px;
        }
        .info{
            width: 100%;
            padding: 0px 20px;
            height: 100%;
            background: #e2e2e2;
            display: flex;
            align-items: center;
            p{
                margin: 0;
            }
        }
        &:hover{
            right: 0;
        }
    }
    .info-panel--open{
        width: 320px;
        .info{
            margin: 0;
        }
    }
    .hidden-panel{
        display: none;
    }
    .info-panel img{
        transition: all.4s;
    }
    .info-panel:hover img{
        transform: rotate(15deg);
    }
}

@media(max-width:375px){
    .pag{
        .pagination{ color: $yellow;
            .page-link{
                padding: 8px 10px !important;
            }
        }
    } 
}


@media(max-width:1024px){
    .right-fixed-panel .info-panel.hidden-panel{
        display: flex;
    }
}


@media(max-width:768px){
    .canvi-btn{
        top:20px;
        left:6px;
    }
    .breadcrumb{
        li{
            font-size: 13px;
        }
        li:nth-child(1){
            margin-left: 0;
        }
        li:nth-last-child(1){
            margin-right: 0;
        }
        .breadcrumb-item{
            position: relative;
            margin-right: 20px;
        }
        .breadcrumb-item + .breadcrumb-item::before{
            content: '';
            height: 10px;
            width: 4px;
            left: -10px;
            bottom: 5px;
        }
    }
}

@media(max-width:520px){
    .breadcrumb{
        li{
            font-size: 12px;
        }
        .breadcrumb-item{
            margin-right: 14px;
        }
        .breadcrumb-item + .breadcrumb-item {
            padding-left: 0px;
        }
        .breadcrumb-item + .breadcrumb-item::before{
            content: '';
            height: 8px;
            width: 3px;
            left: -7px;
            bottom: 6px; 
        }
    }
}






