.offer{
    background-image: url(../images/fon2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 255px 0px ;
    box-shadow: 0 30px 60px rgba(70, 68, 68, 0.657);
    .info{
        margin-left: auto;
        max-width: 630px;
        text-align: center;
        p{
            font-size: 50px;
            font-weight: bold; 
            color: #fff;
            text-transform: uppercase; 
            margin-top: 60px;
            margin-bottom: 55px;
            span{
                color: $yellow;
                font-size: 50px;
            }
        }
        a{
            @extend %button;
            margin: 0px auto;
        }
    }
}

.offer-2{
    background-image: url(../images/fon1.jpg);
    padding-top: 80px;
    padding-bottom: 100px;
    box-shadow: 0 30px 60px rgba(70, 68, 68, 0.657);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    // margin-top: 90px; 
    .container{
        position: relative; 
    }
    .title{
        color: #fff;
        font-weight: bold;
        font-size: 35px;
        line-height: 1.3;
        text-transform: uppercase;
        text-align: center;
        max-width: 430px;
        span{
            color: $yellow;
        }
    }
    .book{
        position: absolute;
        max-width: 750px !important;
    }
    form{
        margin-left: auto;
        input{
            color: #fff;
            font-family: monospace;
            width: 100%;
            margin-bottom: 15px;
            background: none;
            border-bottom: 1px solid rgba(216, 216, 216, 0.65);
            border-top: none;
            border-left: none;
            border-right: none;
            padding: 15px 0;
            font-size: 14px;
            &::placeholder{
                color: rgba(216, 216, 216, 0.65);
                font-family: monospace;
                letter-spacing: 3px;
            }
        }
        input:hover{
            border-bottom: 1px solid $yellow;
            &::placeholder{
                color: #fff;
            }
        }
        button{
            letter-spacing: 2px;
            font-size: 11px;
            background: none;
            max-width: 100%;
            margin-top: 40px;
            @extend %button;
        }
    }
}

@media (max-width:1025px){
    .offer{
        .info{
            max-width: 400px;
            p{
                margin: 30px 0;
                font-size: 36px;
                span{
                    font-size: 36px;
                }
            }
        }
        padding: 105px 0px;
    }
    .offer-2{
        margin-top: 0px;
        .book{
            max-width: 630px  !important;
        }
    } 
}

@media (max-width:768px){
    .offer-2 {
        padding-bottom: 400px;
        .title{
            text-align: left;
            margin-bottom: 30px;
        }
        form{
            margin: 0 auto 30px 0;
            max-width: 100%;
            flex: 0 0 100%;
            input{
                font-size: 13px;
                text-transform: uppercase;
            }
            button{
                padding: 15px 0;
                font-size: 14px;
            }
        }
        .book{
            max-width: 100% !important;
            margin-top: 350px;
        }
    }
}

@media (max-width:576px){
    .offer{
        background-position: right;
        .info{
            max-width: 100%;
        }
    }
    .offer-2 {
        padding-bottom: 250px;
    }
}

@media (max-width:375px){
    .offer{
        .info p{
            font-size: 32px;
        }
        .logo{
            img{
            width: 100%;
            }
        }
    }
    .offer-2 {
        .title{
            font-size: 22px;
        }
     padding-bottom: 120px;   
    }
    
}

