$yellow: #bd833f;
$dark: #1c1c1c;

%button{
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    padding: 13px 0px;
    border: 1px solid $yellow;
    max-width: 220px;
    width: 100%;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    transition: all.4s;
    display: block;
}

%button:hover{
    background: $yellow;
}

@media(max-width:769px){
    %button{
        font-size: 11px;
        padding: 10px 0px;
        max-width: 200px;
    }
}