.slider-item{
    background-image: url(../images/fon1.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    padding: 55px 0px 130px; 
        .info{
            margin-top: 70px;
            text-align: center;
            .logo{
                margin: 0 auto;
                max-width: 300px;
                img{
                    width: 100%;
                }
            }
            .title{
                font-size: 35px; 
                margin-top: 35px;
                text-transform: uppercase;
                color: #fff;
                font-weight: bolder;
                span{
                    font-size: 24px; 
                }
            }
        a{
            @extend %button;
            margin: 50px auto 0px;
        }
    }
    .img{
        img{
            width: 100%;
        }
    }
}

.slick-dotted.slick-slider{
    margin-bottom: 0;
}

.slick-dots{
    position: static;
    bottom: 0;
    width: auto;
    margin: 0 auto;
    li{
        display: inline-block;
        height: 4px;
        width: 60px;
        border: 1px solid $yellow;
        margin-right: 20px;
        button{
            display: none;
        }
        -webkit-transition: all ease 0.8s;
	    -moz-transition: all ease 0.8s;
	     transition: all ease 0.8s;
    }
    .slick-active{
        animation: dots-back 3000ms linear;
    }
}
.custom-cont-dots{
    height: 10px;
    margin: -120px auto 0;
}
.cont-slick{
    width: 40%;
}

@keyframes dots-back {
from {
    background: #ffffff00;
}
to {
    background: $yellow;
}
}


.spirio-main{
    .first-slider{
        .item{
            background-image: url(../images/slider.png);
            background-size: cover;
            background-repeat: no-repeat;
            padding: 300px 0 100px;
            .title{
                font-size: 40px;
                font-weight: 700;
                color: #fff;
                text-transform: uppercase;
                max-width: 750px;
                margin-bottom: 60px;
            }
        }
    }
}

@media(max-width:769px){
    .custom-cont-dots{
        margin: -90px auto 0;
    }
    .slick-dots{
        li{
            width: 40px;
            margin-right: 10px;
        }
    }
}

.product-slider{
    overflow: hidden;
    margin-top: 10px;
    .item{
        padding: 20px 0;
        text-align: center;
        border-bottom: 1px solid #dedede;
        .img{
            img{
                width: 100%;
            }
        } 
    }
    .slick-prev{
        left: -15px;
    }
    .slick-next{
        right: 5px;;
    }
    .text{
        margin-top: 15px;
        .title{
            font-weight: bold;
            margin-bottom: -3px; 
        }
        .subtitle{
            font-size: 14px;
            font-family: 'Minion';
            color: #8a8a8a;
        }
    }
    
}