.modal.fade.show{
    padding-right: 0;
}
.modal-dialog{
    margin: 10px auto  0;
}
.modal-content{
    position: relative;
    border-radius: none;
    border: none;
    padding: 15px;
    text-align: center;
    .posit-absol{
        position: absolute;
        top: 45px;
        right: 50px;
    }
    .modal-header{
        border: none;
        .close{
            padding: 0;
            position: relative;
            width: 30px;
        }  
    } 
    
    span{
        display: inline-block;
        height: 2px;
        width: 30px; 
        background: $yellow;
        position: absolute;
    }
    span:nth-child(2){
        top: 0;
        transform: rotate(135deg);
    }
    span:nth-child(1){
        top: 0;
        transform: rotate(45deg);
    }
    .modal-title{
        margin-top: 10px;
        text-align: center;
        font-size: 43px;
        text-transform: inherit;
        font-weight: 500;
        font-family: inherit;
    }
    .modal-subtitle{
        margin-top: 15px;
        // font-family: 'Minion';
    }
    form{
        margin: 0 auto;
        max-width: 370px;
        p{
            font-weight: 500;
            margin: 10px 0 4px;
            span{
                color: red;
            }
        }
        input{
            text-align: center;
            width: 100%;
            margin: 10px auto;
            padding: 20px 20px;
            border: none;
            background: none;
            border-bottom: 1px solid #a7a7a7;
            font-family: inherit;
            outline: none;
            &::placeholder{
                color: #a7a7a7;
                font-size: 15px;
            }
        }
        button{
            @extend %button;
            font-family: 'Hel';
            background: $yellow;
            max-width: 300px;
            font-size: 17px;
            padding: 15px 0;
            margin: 40px auto 0;
            max-width: 90%;
            &:hover{
                background: none; 
                color: $dark;
            }
        }
    }
    .security{
        font-size: 12px;
        margin-top: 15px;
        color: #92929c;
    }
}


@media(min-width:1466px){
    .modal-dialog{
        min-width: 600px;
    }  
    .modal.show .modal-dialog{
        transform: translate(0, -50px);
    }
    .modal-content{
        background: #ececec;
        .modal-title{
            font-size: 50px;
        }
        form{
            input{
                margin-bottom: 20px;
            }
            button{
                margin-top: 50px;
            }
        }
    } 
}



@media(max-width:768px){
    .modal-content{
        .modal-title{
            font-size: 32px;
        }
    }    
}
@media(max-width:567px){
    .modal-content{
     .modal-title{
         font-size: 24px;
     }
    }    
}
    .swal-footer{
        text-align: center;
        .swal-button-container{
            .swal-button{
                background-color: #bd833f;
                border-radius: 0;
                padding: 10px 3rem;
                border: 1px solid #bd833f;
                &:hover{
                    background-color: #fff;
                    border: 1px solid #bd833f;
                    color:#000;
                }
                &:focus{
                    box-shadow: none;
                }
            }
        }
    }
